body {
	background-color: #222;
	font-family: 'Times New Roman',sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: rgba(0,0,0,.87);
}

.link,a {
	color: #3b5998;
	text-decoration: none;
}

.link:hover,a:hover {
	color: #ff3838;
	text-decoration: none;
}

h1 {
	font-size: 24px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
}

.black-text {
	color: #000;
	color: rgba(0,0,0,.87);
}

.black-secondary {
	color: rgba(0,0,0,.54);
}

.small,small {
	font-size: 85%;
}

strong {
	font-weight: 600;
}

li .fa {
	vertical-align: initial;
	margin-right: 5px;
}

img {
	max-width: 100%;
	height: auto;
}