sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 40.08333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 27.08333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 27.08333em;
}
.stl_06 {
	height: 4.008333em;
}
.ie .stl_06 {
	height: 40.08333em;
}
@font-face {
	font-family:"CGBUWL+FrutigerLTStd-Black";
	src:url("5b573a15-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.5em;
	font-family: "CGBUWL+FrutigerLTStd-Black";
	color: #44AA42;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0012em;
}

.ie .stl_09 {
	letter-spacing: -0.0288px;
}
.stl_10 {
	font-size: 1em;
	font-family: "CGBUWL+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: -0.0018em;
}

.ie .stl_11 {
	letter-spacing: -0.0288px;
}
@font-face {
	font-family:"DWFSAU+FrutigerLTStd-Roman";
	src:url("b83a8b98-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.666667em;
	font-family: "DWFSAU+FrutigerLTStd-Roman";
	color: #221E1F;
}
.stl_13 {
	line-height: 1.185em;
}
.stl_14 {
	letter-spacing: 0em;
}

.ie .stl_14 {
	letter-spacing: 0px;
}
.stl_15 {
	letter-spacing: -0.0061em;
}

.ie .stl_15 {
	letter-spacing: -0.0654px;
}
.stl_16 {
	letter-spacing: -0.0003em;
}

.ie .stl_16 {
	letter-spacing: -0.0037px;
}
.stl_17 {
	letter-spacing: -0.0004em;
}

.ie .stl_17 {
	letter-spacing: -0.0044px;
}
.stl_18 {
	font-size: 0.75em;
	font-family: "CGBUWL+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_19 {
	letter-spacing: -0.0005em;
}

.ie .stl_19 {
	letter-spacing: -0.0056px;
}
.stl_20 {
	letter-spacing: -0.0019em;
}

.ie .stl_20 {
	letter-spacing: -0.0227px;
}
@font-face {
	font-family:"KKGKVN+Symbol";
	src:url("f4ad58c1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.666667em;
	font-family: "KKGKVN+Symbol", "Times New Roman";
	color: #221E1F;
}
.stl_22 {
	line-height: 1.303em;
}
.stl_23 {
	font-size: 0.388667em;
	font-family: "DWFSAU+FrutigerLTStd-Roman";
	color: #221E1F;
}
.stl_24 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.111111);
	-o-transform: scale(1,1.111111);
	-ms-transform: matrix(1,0,0,1.111111,0,-0.7497001);
	-moz-transform: scale(1,1.111111);
	-webkit-transform: scale(1,1.111111);
}
@font-face {
	font-family:"LGQIKJ+FrutigerLTStd-BoldCn";
	src:url("6f6c3760-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.525em;
	font-family: "LGQIKJ+FrutigerLTStd-BoldCn";
	color: #FFFFFF;
}
.stl_26 {
	line-height: 1.19em;
}
.stl_27 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.111111);
	-o-transform: scale(1,1.111111);
	-ms-transform: matrix(1,0,0,1.111111,0,-0.8208901);
	-moz-transform: scale(1,1.111111);
	-webkit-transform: scale(1,1.111111);
}
.stl_28 {
	font-size: 0.525em;
	font-family: "KKGKVN+Symbol", "Times New Roman";
	color: #FFFFFF;
}
.stl_29 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.111111);
	-o-transform: scale(1,1.111111);
	-ms-transform: matrix(1,0,0,1.111111,0,-1.3);
	-moz-transform: scale(1,1.111111);
	-webkit-transform: scale(1,1.111111);
}
.stl_30 {
	font-size: 0.525em;
	font-family: "LGQIKJ+FrutigerLTStd-BoldCn";
	color: #221E1F;
}
.stl_31 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.111111);
	-o-transform: scale(1,1.111111);
	-ms-transform: matrix(1,0,0,1.111111,0,-0.4370751);
	-moz-transform: scale(1,1.111111);
	-webkit-transform: scale(1,1.111111);
}
.stl_32 {
	font-size: 0.306075em;
	font-family: "LGQIKJ+FrutigerLTStd-BoldCn";
	color: #FFFFFF;
}
.stl_33 {
	letter-spacing: -0.0014em;
}

.ie .stl_33 {
	letter-spacing: -0.0166px;
}
@font-face {
	font-family:"OLLVKQ+FrutigerLTStd-Bold";
	src:url("2b691e7a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 0.708333em;
	font-family: "OLLVKQ+FrutigerLTStd-Bold";
	color: #44AA42;
}
@font-face {
	font-family:"FMPOJA+FrutigerLTStd-Light";
	src:url("08e04ab7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.708333em;
	font-family: "FMPOJA+FrutigerLTStd-Light";
	color: #221E1F;
}
.stl_36 {
	line-height: 1.161em;
}
@font-face {
	font-family:"AACFRB+Helvetica";
	src:url("cccbea76-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 0.583333em;
	font-family: "AACFRB+Helvetica";
	color: #999999;
}
.stl_38 {
	line-height: 1.117188em;
}
.stl_39 {
	letter-spacing: -0.0001em;
}

.ie .stl_39 {
	letter-spacing: -0.0012px;
}
.stl_40 {
	font-size: 0.666667em;
	font-family: "FMPOJA+FrutigerLTStd-Light";
	color: #221E1F;
}
.stl_41 {
	font-size: 0.5em;
	font-family: "DWFSAU+FrutigerLTStd-Roman";
	color: #45AB43;
}
.stl_42 {
	letter-spacing: -0.6537em;
}

.ie .stl_42 {
	letter-spacing: -6.1015px;
}
.stl_43 {
	letter-spacing: -0.7627em;
}

.ie .stl_43 {
	letter-spacing: -6.1015px;
}
.stl_44 {
	letter-spacing: -0.4593em;
}

.ie .stl_44 {
	letter-spacing: -3.6744px;
}
.stl_45 {
	letter-spacing: -0.3937em;
}

.ie .stl_45 {
	letter-spacing: -3.6744px;
}
.stl_46 {
	letter-spacing: -0.4966em;
}

.ie .stl_46 {
	letter-spacing: -3.973px;
}
.stl_47 {
	letter-spacing: -0.4257em;
}

.ie .stl_47 {
	letter-spacing: -3.973px;
}
.stl_48 {
	letter-spacing: -0.6299em;
}

.ie .stl_48 {
	letter-spacing: -5.8789px;
}
.stl_49 {
	letter-spacing: -0.7349em;
}

.ie .stl_49 {
	letter-spacing: -5.8789px;
}
.stl_50 {
	letter-spacing: -0.0513em;
}

.ie .stl_50 {
	letter-spacing: -0.4105px;
}
.stl_51 {
	letter-spacing: -0.044em;
}

.ie .stl_51 {
	letter-spacing: -0.4105px;
}
@font-face {
	font-family:"STLVQN+??";
	src:url("b00e1268-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_52 {
	font-size: 1em;
	font-family: "STLVQN+??", "Times New Roman";
	color: #408000;
}
.stl_53 {
	line-height: 1.107422em;
}
.stl_54 {
	letter-spacing: 0.0419em;
}

.ie .stl_54 {
	letter-spacing: 0.67px;
}
.stl_55 {
	letter-spacing: -0.002em;
}

.ie .stl_55 {
	letter-spacing: -0.0209px;
}
.stl_56 {
	font-size: 0.833333em;
	font-family: "CGBUWL+FrutigerLTStd-Black";
	color: #FFFFFF;
}
.stl_57 {
	letter-spacing: 0.0114em;
}

.ie .stl_57 {
	letter-spacing: 0.1212px;
}
.stl_58 {
	letter-spacing: 0.004em;
}

.ie .stl_58 {
	letter-spacing: 0.0423px;
}
.stl_59 {
	letter-spacing: 0.0069em;
}

.ie .stl_59 {
	letter-spacing: 0.0741px;
}
.stl_60 {
	letter-spacing: -0.0029em;
}

.ie .stl_60 {
	letter-spacing: -0.0307px;
}
@font-face {
	font-family:"CVOBEC+FrutigerLTStd-Italic";
	src:url("79f61eb6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_61 {
	font-size: 0.666667em;
	font-family: "CVOBEC+FrutigerLTStd-Italic";
	color: #221E1F;
}
.stl_62 {
	line-height: 1.18em;
}
.stl_63 {
	font-size: 0.708333em;
	font-family: "OLLVKQ+FrutigerLTStd-Bold";
	color: #45AB43;
}
.stl_64 {
	letter-spacing: 0.0052em;
}

.ie .stl_64 {
	letter-spacing: 0.0558px;
}
.stl_65 {
	letter-spacing: -0.0021em;
}

.ie .stl_65 {
	letter-spacing: -0.024px;
}
.stl_66 {
	letter-spacing: -0.0007em;
}

.ie .stl_66 {
	letter-spacing: -0.008px;
}
.stl_67 {
	letter-spacing: 0.0001em;
}

.ie .stl_67 {
	letter-spacing: 0.0009px;
}
.stl_68 {
	letter-spacing: 0.0062em;
}

.ie .stl_68 {
	letter-spacing: 0.0659px;
}
.stl_69 {
	letter-spacing: -0.0023em;
}

.ie .stl_69 {
	letter-spacing: -0.0245px;
}
.stl_70 {
	letter-spacing: 0.0053em;
}

.ie .stl_70 {
	letter-spacing: 0.0567px;
}
.stl_71 {
	letter-spacing: 0.0051em;
}

.ie .stl_71 {
	letter-spacing: 0.0542px;
}
.stl_72 {
	letter-spacing: -0.0054em;
}

.ie .stl_72 {
	letter-spacing: -0.0577px;
}
.stl_73 {
	font-size: 0.75em;
	font-family: "LGQIKJ+FrutigerLTStd-BoldCn";
	color: #45AB43;
}
@font-face {
	font-family:"JRDRQK+FrutigerLTStd-Cn";
	src:url("bd69ccd5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_74 {
	font-size: 0.666667em;
	font-family: "JRDRQK+FrutigerLTStd-Cn";
	color: #221E1F;
}
.stl_75 {
	line-height: 1.179em;
}
.stl_76 {
	letter-spacing: -0.0016em;
}

.ie .stl_76 {
	letter-spacing: -0.0168px;
}
.stl_77 {
	letter-spacing: -0.0041em;
}

.ie .stl_77 {
	letter-spacing: -0.0439px;
}
