sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 40.08333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 27.08333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 27.08333em;
}
.stl_06 {
	height: 4.008333em;
}
.ie .stl_06 {
	height: 40.08333em;
}
@font-face {
	font-family:"SLWIJO+Helvetica";
	src:url("8dbf0584-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.833333em;
	font-family: "SLWIJO+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1.117188em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: -0.0006px;
}
@font-face {
	font-family:"CPCGWS+FrutigerLTStd-Black";
	src:url("c781ad13-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1.5em;
	font-family: "CPCGWS+FrutigerLTStd-Black";
	color: #45AB43;
}
.stl_11 {
	line-height: 1.204em;
}
.stl_12 {
	font-size: 1em;
	font-family: "CPCGWS+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_13 {
	font-size: 0.833333em;
	font-family: "CPCGWS+FrutigerLTStd-Black";
	color: #FFFFFF;
}
@font-face {
	font-family:"AETTJW+FrutigerLTStd-Roman";
	src:url("49714bda-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 0.666667em;
	font-family: "AETTJW+FrutigerLTStd-Roman";
	color: #221E1F;
}
.stl_15 {
	line-height: 1.185em;
}
.stl_16 {
	letter-spacing: -0.0016em;
}

.ie .stl_16 {
	letter-spacing: -0.0176px;
}
.stl_17 {
	letter-spacing: -0.0004em;
}

.ie .stl_17 {
	letter-spacing: -0.004px;
}
.stl_18 {
	font-size: 0.75em;
	font-family: "CPCGWS+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_19 {
	letter-spacing: -0.0018em;
}

.ie .stl_19 {
	letter-spacing: -0.0216px;
}
@font-face {
	font-family:"AJJROL+BundesbahnPiStd-1";
	src:url("8e50b7c5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.916667em;
	font-family: "AJJROL+BundesbahnPiStd-1", "Times New Roman";
	color: #808184;
}
.stl_21 {
	line-height: 0.971em;
}
.stl_22 {
	font-size: 0.75em;
	font-family: "AETTJW+FrutigerLTStd-Roman";
	color: #221E1F;
}
.stl_23 {
	letter-spacing: 0.0029em;
}

.ie .stl_23 {
	letter-spacing: 0.0305px;
}
.stl_24 {
	font-size: 0.75em;
	font-family: "AJJROL+BundesbahnPiStd-1", "Times New Roman";
	color: #44AA42;
}
.stl_25 {
	letter-spacing: -0.0042em;
}

.ie .stl_25 {
	letter-spacing: -0.0508px;
}
.stl_26 {
	letter-spacing: -0.002em;
}

.ie .stl_26 {
	letter-spacing: -0.0209px;
}
@font-face {
	font-family:"KVGHBF+FrutigerLTStd-Light";
	src:url("0da1f173-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.583333em;
	font-family: "KVGHBF+FrutigerLTStd-Light";
	color: #221E1F;
}
.stl_28 {
	line-height: 1.161em;
}
@font-face {
	font-family:"PIKOUL+Symbol";
	src:url("700d3f20-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.583333em;
	font-family: "PIKOUL+Symbol", "Times New Roman";
	color: #221E1F;
}
.stl_30 {
	line-height: 1.303em;
}
.stl_31 {
	letter-spacing: -0.0014em;
}

.ie .stl_31 {
	letter-spacing: -0.0166px;
}
.stl_32 {
	letter-spacing: -0.0022em;
}

.ie .stl_32 {
	letter-spacing: -0.0234px;
}
.stl_33 {
	letter-spacing: -0.0101em;
}

.ie .stl_33 {
	letter-spacing: -0.1075px;
}
.stl_34 {
	letter-spacing: -0.01em;
}

.ie .stl_34 {
	letter-spacing: -0.1067px;
}
.stl_35 {
	font-size: 0.5em;
	font-family: "AETTJW+FrutigerLTStd-Roman";
	color: #45AB43;
}
.stl_36 {
	font-size: 0.666667em;
	font-family: "KVGHBF+FrutigerLTStd-Light";
	color: #221E1F;
}
.stl_37 {
	letter-spacing: 0.004em;
}

.ie .stl_37 {
	letter-spacing: 0.0422px;
}
.stl_38 {
	letter-spacing: 0.0028em;
}

.ie .stl_38 {
	letter-spacing: 0.0301px;
}
.stl_39 {
	letter-spacing: 0.003em;
}

.ie .stl_39 {
	letter-spacing: 0.032px;
}
@font-face {
	font-family:"GJOWKQ+??";
	src:url("f88c071d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 1em;
	font-family: "GJOWKQ+??", "Times New Roman";
	color: #408000;
}
.stl_41 {
	line-height: 1.107422em;
}
.stl_42 {
	letter-spacing: 0.0419em;
}

.ie .stl_42 {
	letter-spacing: 0.67px;
}
