sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 56.66667em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 39em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 39em;
}
.stl_06 {
	height: 5.666667em;
}
.ie .stl_06 {
	height: 56.66667em;
}
@font-face {
	font-family:"LMQFPR+StoneSansStdSemibold--Identity-H";
	src:url("15e42ff8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.665em;
	font-family: "LMQFPR+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.2em;
}
.stl_09 {
	letter-spacing: 0.0002em;
}

.ie .stl_09 {
	letter-spacing: 0.0053px;
}
.stl_10 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.046463);
	-o-transform: scale(1,1.046463);
	-ms-transform: matrix(1,0,0,1.046463,0,-0.8600401);
	-moz-transform: scale(1,1.046463);
	-webkit-transform: scale(1,1.046463);
}
.stl_11 {
	font-size: 0.59725em;
	font-family: "LMQFPR+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_12 {
	letter-spacing: 0em;
}

.ie .stl_12 {
	letter-spacing: 0px;
}
.stl_13 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.046463);
	-o-transform: scale(1,1.046463);
	-ms-transform: matrix(1,0,0,1.046463,0,-0.8550232);
	-moz-transform: scale(1,1.046463);
	-webkit-transform: scale(1,1.046463);
}
@font-face {
	font-family:"OIOMQC+StoneSansStdMedium--Identity-H";
	src:url("4b2bbd9d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 0.59725em;
	font-family: "OIOMQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_15 {
	line-height: 1.193em;
}
.stl_16 {
	letter-spacing: -0.0034em;
}

.ie .stl_16 {
	letter-spacing: -0.0325px;
}
.stl_17 {
	letter-spacing: -0.0038em;
}

.ie .stl_17 {
	letter-spacing: -0.0363px;
}
.stl_18 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.046463);
	-o-transform: scale(1,1.046463);
	-ms-transform: matrix(1,0,0,1.046463,0,-1.1);
	-moz-transform: scale(1,1.046463);
	-webkit-transform: scale(1,1.046463);
}
.stl_19 {
	letter-spacing: -0.0052em;
}

.ie .stl_19 {
	letter-spacing: -0.0497px;
}
.stl_20 {
	letter-spacing: -0.0036em;
}

.ie .stl_20 {
	letter-spacing: -0.0344px;
}
.stl_21 {
	letter-spacing: -0.0042em;
}

.ie .stl_21 {
	letter-spacing: -0.0397px;
}
.stl_22 {
	letter-spacing: -0.0033em;
}

.ie .stl_22 {
	letter-spacing: -0.0319px;
}
.stl_23 {
	letter-spacing: -0.0055em;
}

.ie .stl_23 {
	letter-spacing: -0.0525px;
}
.stl_24 {
	letter-spacing: -0.0035em;
}

.ie .stl_24 {
	letter-spacing: -0.0334px;
}
.stl_25 {
	letter-spacing: -0.0032em;
}

.ie .stl_25 {
	letter-spacing: -0.0305px;
}
.stl_26 {
	letter-spacing: -0.0053em;
}

.ie .stl_26 {
	letter-spacing: -0.0502px;
}
.stl_27 {
	letter-spacing: -0.0037em;
}

.ie .stl_27 {
	letter-spacing: -0.0354px;
}
.stl_28 {
	letter-spacing: -0.0045em;
}

.ie .stl_28 {
	letter-spacing: -0.0433px;
}
.stl_29 {
	letter-spacing: -0.004em;
}

.ie .stl_29 {
	letter-spacing: -0.0381px;
}
.stl_30 {
	letter-spacing: -0.0051em;
}

.ie .stl_30 {
	letter-spacing: -0.0487px;
}
.stl_31 {
	letter-spacing: -0.0064em;
}

.ie .stl_31 {
	letter-spacing: -0.0612px;
}
.stl_32 {
	letter-spacing: -0.0039em;
}

.ie .stl_32 {
	letter-spacing: -0.0373px;
}
.stl_33 {
	letter-spacing: -0.0041em;
}

.ie .stl_33 {
	letter-spacing: -0.0392px;
}
.stl_34 {
	letter-spacing: -0.0063em;
}

.ie .stl_34 {
	letter-spacing: -0.0599px;
}
.stl_35 {
	letter-spacing: -0.0014em;
}

.ie .stl_35 {
	letter-spacing: -0.0134px;
}
.stl_36 {
	letter-spacing: -0.005em;
}

.ie .stl_36 {
	letter-spacing: -0.0478px;
}
.stl_37 {
	letter-spacing: -0.0027em;
}

.ie .stl_37 {
	letter-spacing: -0.0257px;
}
.stl_38 {
	letter-spacing: -0.0022em;
}

.ie .stl_38 {
	letter-spacing: -0.021px;
}
.stl_39 {
	letter-spacing: -0.0048em;
}

.ie .stl_39 {
	letter-spacing: -0.0459px;
}
.stl_40 {
	letter-spacing: -0.0043em;
}

.ie .stl_40 {
	letter-spacing: -0.0415px;
}
.stl_41 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.048878);
	-o-transform: scale(1,1.048878);
	-ms-transform: matrix(1,0,0,1.048878,0,-1.023666);
	-moz-transform: scale(1,1.048878);
	-webkit-transform: scale(1,1.048878);
}
.stl_42 {
	font-size: 0.71505em;
	font-family: "OIOMQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_43 {
	letter-spacing: -0.0028em;
}

.ie .stl_43 {
	letter-spacing: -0.032px;
}
.stl_44 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.04712);
	-o-transform: scale(1,1.04712);
	-ms-transform: matrix(1,0,0,1.04712,0,-0.8544862);
	-moz-transform: scale(1,1.04712);
	-webkit-transform: scale(1,1.04712);
}
.stl_45 {
	font-size: 0.596875em;
	font-family: "OIOMQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_46 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.04712);
	-o-transform: scale(1,1.04712);
	-ms-transform: matrix(1,0,0,1.04712,0,-0.8594999);
	-moz-transform: scale(1,1.04712);
	-webkit-transform: scale(1,1.04712);
}
.stl_47 {
	font-size: 0.596875em;
	font-family: "LMQFPR+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_48 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.04712);
	-o-transform: scale(1,1.04712);
	-ms-transform: matrix(1,0,0,1.04712,0,-1.1);
	-moz-transform: scale(1,1.04712);
	-webkit-transform: scale(1,1.04712);
}
.stl_49 {
	letter-spacing: -0.0029em;
}

.ie .stl_49 {
	letter-spacing: -0.0276px;
}
.stl_50 {
	letter-spacing: -0.0062em;
}

.ie .stl_50 {
	letter-spacing: -0.0592px;
}
.stl_51 {
	letter-spacing: -0.0025em;
}

.ie .stl_51 {
	letter-spacing: -0.0236px;
}
.stl_52 {
	letter-spacing: -0.0031em;
}

.ie .stl_52 {
	letter-spacing: -0.03px;
}
