sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 56.66667em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 38.91667em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 38.91667em;
}
.stl_06 {
	height: 5.666667em;
}
.ie .stl_06 {
	height: 56.66667em;
}
@font-face {
	font-family:"PWGWQC+StoneSansStdMedium--Identity-H";
	src:url("eb6317b1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 2em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.193em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	letter-spacing: -0.014em;
}

.ie .stl_10 {
	letter-spacing: -0.4496px;
}
.stl_11 {
	font-size: 1.283716em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_12 {
	letter-spacing: -0.0219em;
}

.ie .stl_12 {
	letter-spacing: -0.4496px;
}
.stl_13 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.042427);
	-o-transform: scale(1,1.042427);
	-ms-transform: matrix(1,0,0,1.042427,0,-1.4832);
	-moz-transform: scale(1,1.042427);
	-webkit-transform: scale(1,1.042427);
}
.stl_14 {
	font-size: 1.036044em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_15 {
	letter-spacing: -0.0042em;
}

.ie .stl_15 {
	letter-spacing: -0.0691px;
}
.stl_16 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.024695);
	-o-transform: scale(1,1.024695);
	-ms-transform: matrix(1,0,0,1.024695,0,-0.838259);
	-moz-transform: scale(1,1.024695);
	-webkit-transform: scale(1,1.024695);
}
.stl_17 {
	font-size: 0.58554em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_18 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.057194);
	-o-transform: scale(1,1.057194);
	-ms-transform: matrix(1,0,0,1.057194,0,-1.354151);
	-moz-transform: scale(1,1.057194);
	-webkit-transform: scale(1,1.057194);
}
.stl_19 {
	font-size: 0.9459em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_20 {
	letter-spacing: 0.0019em;
}

.ie .stl_20 {
	letter-spacing: 0.029px;
}
.stl_21 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.0006);
	-o-transform: scale(1,1.0006);
	-ms-transform: matrix(1,0,0,1.0006,0,-1.309614);
	-moz-transform: scale(1,1.0006);
	-webkit-transform: scale(1,1.0006);
}
@font-face {
	font-family:"GMBUGE+StoneSansStdSemibold--Identity-H";
	src:url("33226110-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.909454em;
	font-family: "GMBUGE+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_23 {
	line-height: 1.2em;
}
.stl_24 {
	letter-spacing: 0.0035em;
}

.ie .stl_24 {
	letter-spacing: 0.0516px;
}
.stl_25 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-0.9995031);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_26 {
	font-size: 0.698172em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_27 {
	letter-spacing: 0.0089em;
}

.ie .stl_27 {
	letter-spacing: 0.0996px;
}
.stl_28 {
	font-size: 0.714086em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_29 {
	letter-spacing: 0.0091em;
}

.ie .stl_29 {
	letter-spacing: 0.1015px;
}
.stl_30 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-1);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_31 {
	letter-spacing: 0.0082em;
}

.ie .stl_31 {
	letter-spacing: 0.0921px;
}
.stl_32 {
	letter-spacing: 0.0088em;
}

.ie .stl_32 {
	letter-spacing: 0.0978px;
}
.stl_33 {
	letter-spacing: 0.0087em;
}

.ie .stl_33 {
	letter-spacing: 0.0971px;
}
.stl_34 {
	letter-spacing: 0.009em;
}

.ie .stl_34 {
	letter-spacing: 0.1003px;
}
.stl_35 {
	letter-spacing: 0.0092em;
}

.ie .stl_35 {
	letter-spacing: 0.1024px;
}
.stl_36 {
	letter-spacing: 0.0084em;
}

.ie .stl_36 {
	letter-spacing: 0.0943px;
}
.stl_37 {
	letter-spacing: 0.0086em;
}

.ie .stl_37 {
	letter-spacing: 0.096px;
}
.stl_38 {
	letter-spacing: 0.0094em;
}

.ie .stl_38 {
	letter-spacing: 0.1044px;
}
.stl_39 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.024485);
	-o-transform: scale(1,1.024485);
	-ms-transform: matrix(1,0,0,1.024485,0,-1);
	-moz-transform: scale(1,1.024485);
	-webkit-transform: scale(1,1.024485);
}
@font-face {
	font-family:"KQLRKK+StoneSansStdMedium-Italic--Identity-H";
	src:url("b5529f84-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 0.712553em;
	font-family: "KQLRKK+StoneSansStdMedium-Italic--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_41 {
	letter-spacing: -0.0108em;
}

.ie .stl_41 {
	letter-spacing: -0.1236px;
}
.stl_42 {
	letter-spacing: -0.0064em;
}

.ie .stl_42 {
	letter-spacing: -0.0727px;
}
.stl_43 {
	letter-spacing: -0.0065em;
}

.ie .stl_43 {
	letter-spacing: -0.0727px;
}
.stl_44 {
	letter-spacing: -0.0216em;
}

.ie .stl_44 {
	letter-spacing: -0.2407px;
}
.stl_45 {
	letter-spacing: -0.0024em;
}

.ie .stl_45 {
	letter-spacing: -0.0265px;
}
.stl_46 {
	letter-spacing: -0.0018em;
}

.ie .stl_46 {
	letter-spacing: -0.0205px;
}
.stl_47 {
	letter-spacing: -0.001em;
}

.ie .stl_47 {
	letter-spacing: -0.0111px;
}
.stl_48 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.024485);
	-o-transform: scale(1,1.024485);
	-ms-transform: matrix(1,0,0,1.024485,0,-1.020091);
	-moz-transform: scale(1,1.024485);
	-webkit-transform: scale(1,1.024485);
}
.stl_49 {
	letter-spacing: -0.0004em;
}

.ie .stl_49 {
	letter-spacing: -0.0043px;
}
.stl_50 {
	letter-spacing: 0.0058em;
}

.ie .stl_50 {
	letter-spacing: 0.0658px;
}
.stl_51 {
	letter-spacing: 0.0059em;
}

.ie .stl_51 {
	letter-spacing: 0.0658px;
}
.stl_52 {
	letter-spacing: 0.0085em;
}

.ie .stl_52 {
	letter-spacing: 0.0951px;
}
.stl_53 {
	letter-spacing: 0.0093em;
}

.ie .stl_53 {
	letter-spacing: 0.1041px;
}
.stl_54 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.028278);
	-o-transform: scale(1,1.028278);
	-ms-transform: matrix(1,0,0,1.028278,0,-0.6125817);
	-moz-transform: scale(1,1.028278);
	-webkit-transform: scale(1,1.028278);
}
.stl_55 {
	font-size: 0.4279em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_56 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.019576);
	-o-transform: scale(1,1.019576);
	-ms-transform: matrix(1,0,0,1.019576,0,-0.8705503);
	-moz-transform: scale(1,1.019576);
	-webkit-transform: scale(1,1.019576);
}
.stl_57 {
	font-size: 0.608096em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_58 {
	letter-spacing: -0.0093em;
}

.ie .stl_58 {
	letter-spacing: -0.0901px;
}
.stl_59 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.040691);
	-o-transform: scale(1,1.040691);
	-ms-transform: matrix(1,0,0,1.040691,0,-1.031718);
	-moz-transform: scale(1,1.040691);
	-webkit-transform: scale(1,1.040691);
}
.stl_60 {
	font-size: 0.720675em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_61 {
	letter-spacing: -0.0051em;
}

.ie .stl_61 {
	letter-spacing: -0.0588px;
}
.stl_62 {
	font-size: 0.75em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_63 {
	letter-spacing: -0.0002em;
}

.ie .stl_63 {
	letter-spacing: -0.0023px;
}
.stl_64 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-0.9350295);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_65 {
	font-size: 0.653136em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_66 {
	letter-spacing: 0.0102em;
}

.ie .stl_66 {
	letter-spacing: 0.1063px;
}
.stl_67 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-0.9);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_68 {
	letter-spacing: 0.0121em;
}

.ie .stl_68 {
	letter-spacing: 0.1266px;
}
.stl_69 {
	letter-spacing: 0.0095em;
}

.ie .stl_69 {
	letter-spacing: 0.0994px;
}
.stl_70 {
	letter-spacing: 0.0105em;
}

.ie .stl_70 {
	letter-spacing: 0.1099px;
}
.stl_71 {
	letter-spacing: 0.0101em;
}

.ie .stl_71 {
	letter-spacing: 0.1055px;
}
.stl_72 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.007049);
	-o-transform: scale(1,1.007049);
	-ms-transform: matrix(1,0,0,1.007049,0,-0.9437472);
	-moz-transform: scale(1,1.007049);
	-webkit-transform: scale(1,1.007049);
}
.stl_73 {
	font-size: 0.65538em;
	font-family: "GMBUGE+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_74 {
	letter-spacing: 0.0076em;
}

.ie .stl_74 {
	letter-spacing: 0.0798px;
}
.stl_75 {
	letter-spacing: 0.0106em;
}

.ie .stl_75 {
	letter-spacing: 0.1108px;
}
.stl_76 {
	letter-spacing: 0.0107em;
}

.ie .stl_76 {
	letter-spacing: 0.112px;
}
.stl_77 {
	letter-spacing: 0.0099em;
}

.ie .stl_77 {
	letter-spacing: 0.1029px;
}
.stl_78 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.0006);
	-o-transform: scale(1,1.0006);
	-ms-transform: matrix(1,0,0,1.0006,0,-0.9442891);
	-moz-transform: scale(1,1.0006);
	-webkit-transform: scale(1,1.0006);
}
.stl_79 {
	font-size: 0.659604em;
	font-family: "KQLRKK+StoneSansStdMedium-Italic--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_80 {
	letter-spacing: 0.0048em;
}

.ie .stl_80 {
	letter-spacing: 0.0508px;
}
.stl_81 {
	letter-spacing: 0.0096em;
}

.ie .stl_81 {
	letter-spacing: 0.0999px;
}
.stl_82 {
	letter-spacing: 0.0113em;
}

.ie .stl_82 {
	letter-spacing: 0.1181px;
}
.stl_83 {
	font-size: 0.39988em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_84 {
	letter-spacing: 0.0073em;
}

.ie .stl_84 {
	letter-spacing: 0.0763px;
}
.stl_85 {
	font-size: 0.656568em;
	font-family: "PWGWQC+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_86 {
	letter-spacing: 0.01em;
}

.ie .stl_86 {
	letter-spacing: 0.1048px;
}
.stl_87 {
	letter-spacing: 0.0114em;
}

.ie .stl_87 {
	letter-spacing: 0.1189px;
}
.stl_88 {
	letter-spacing: 0.0103em;
}

.ie .stl_88 {
	letter-spacing: 0.1076px;
}
.stl_89 {
	letter-spacing: 0.0077em;
}

.ie .stl_89 {
	letter-spacing: 0.081px;
}
.stl_90 {
	letter-spacing: 0.006em;
}

.ie .stl_90 {
	letter-spacing: 0.0636px;
}
.stl_91 {
	letter-spacing: 0.0104em;
}

.ie .stl_91 {
	letter-spacing: 0.1084px;
}
.stl_92 {
	letter-spacing: 0.008em;
}

.ie .stl_92 {
	letter-spacing: 0.0836px;
}
.stl_93 {
	letter-spacing: 0.0051em;
}

.ie .stl_93 {
	letter-spacing: 0.0536px;
}
.stl_94 {
	font-size: 0.659802em;
	font-family: "KQLRKK+StoneSansStdMedium-Italic--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_95 {
	letter-spacing: 0.0098em;
}

.ie .stl_95 {
	letter-spacing: 0.1025px;
}
.stl_96 {
	letter-spacing: 0.0115em;
}

.ie .stl_96 {
	letter-spacing: 0.1197px;
}
.stl_97 {
	letter-spacing: 0.0072em;
}

.ie .stl_97 {
	letter-spacing: 0.0757px;
}
.stl_98 {
	letter-spacing: -0.0135em;
}

.ie .stl_98 {
	letter-spacing: -0.1312px;
}
.stl_99 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-2.1);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_100 {
	letter-spacing: 0.007em;
}

.ie .stl_100 {
	letter-spacing: 0.0735px;
}
.stl_101 {
	letter-spacing: 0.0079em;
}

.ie .stl_101 {
	letter-spacing: 0.0822px;
}
.stl_102 {
	letter-spacing: 0.0112em;
}

.ie .stl_102 {
	letter-spacing: 0.1165px;
}
.stl_103 {
	letter-spacing: 0.0063em;
}

.ie .stl_103 {
	letter-spacing: 0.0661px;
}
.stl_104 {
	font-size: 0.65769em;
	font-family: "GMBUGE+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_105 {
	letter-spacing: 0.0033em;
}

.ie .stl_105 {
	letter-spacing: 0.048px;
}
.stl_106 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-1.5);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_107 {
	letter-spacing: -0.0017em;
}

.ie .stl_107 {
	letter-spacing: -0.0194px;
}
.stl_108 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-1.1);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_109 {
	letter-spacing: -0.002em;
}

.ie .stl_109 {
	letter-spacing: -0.0226px;
}
.stl_110 {
	letter-spacing: -0.0016em;
}

.ie .stl_110 {
	letter-spacing: -0.0182px;
}
.stl_111 {
	letter-spacing: 0.0032em;
}

.ie .stl_111 {
	letter-spacing: 0.0468px;
}
.stl_112 {
	letter-spacing: -0.0013em;
}

.ie .stl_112 {
	letter-spacing: -0.0147px;
}
.stl_113 {
	letter-spacing: -0.0015em;
}

.ie .stl_113 {
	letter-spacing: -0.0168px;
}
.stl_114 {
	letter-spacing: -0.0019em;
}

.ie .stl_114 {
	letter-spacing: -0.0217px;
}
.stl_115 {
	letter-spacing: -0.0218em;
}

.ie .stl_115 {
	letter-spacing: -0.244px;
}
.stl_116 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.024485);
	-o-transform: scale(1,1.024485);
	-ms-transform: matrix(1,0,0,1.024485,0,-1.1);
	-moz-transform: scale(1,1.024485);
	-webkit-transform: scale(1,1.024485);
}
.stl_117 {
	letter-spacing: -0.0273em;
}

.ie .stl_117 {
	letter-spacing: -0.3116px;
}
.stl_118 {
	letter-spacing: -0.0279em;
}

.ie .stl_118 {
	letter-spacing: -0.3116px;
}
.stl_119 {
	letter-spacing: -0.021em;
}

.ie .stl_119 {
	letter-spacing: -0.2341px;
}
.stl_120 {
	letter-spacing: -0.0023em;
}

.ie .stl_120 {
	letter-spacing: -0.0257px;
}
.stl_121 {
	letter-spacing: -0.0021em;
}

.ie .stl_121 {
	letter-spacing: -0.0235px;
}
.stl_122 {
	letter-spacing: -0.0025em;
}

.ie .stl_122 {
	letter-spacing: -0.0278px;
}
.stl_123 {
	letter-spacing: -0.0012em;
}

.ie .stl_123 {
	letter-spacing: -0.0136px;
}
.stl_124 {
	letter-spacing: 0.0031em;
}

.ie .stl_124 {
	letter-spacing: 0.045px;
}
.stl_125 {
	letter-spacing: -0.0014em;
}

.ie .stl_125 {
	letter-spacing: -0.0151px;
}
.stl_126 {
	letter-spacing: 0.0036em;
}

.ie .stl_126 {
	letter-spacing: 0.0523px;
}
.stl_127 {
	font-size: 0.909727em;
	font-family: "GMBUGE+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_128 {
	letter-spacing: -0.0217em;
}

.ie .stl_128 {
	letter-spacing: -0.2419px;
}
.stl_129 {
	letter-spacing: 0.0158em;
}

.ie .stl_129 {
	letter-spacing: 0.176px;
}
.stl_130 {
	letter-spacing: 0.001em;
}

.ie .stl_130 {
	letter-spacing: 0.0116px;
}
.stl_131 {
	letter-spacing: 0.003em;
}

.ie .stl_131 {
	letter-spacing: 0.0439px;
}
.stl_132 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-1.4);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
