sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 56.66667em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 38.91667em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 38.91667em;
}
.stl_06 {
	height: 5.666667em;
}
.ie .stl_06 {
	height: 56.66667em;
}
@font-face {
	font-family:"KRJRRP+StoneSansStdMedium--Identity-H";
	src:url("a0fbf6c5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 2em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.193em;
}
.stl_09 {
	letter-spacing: -0.0987em;
}

.ie .stl_09 {
	letter-spacing: -3.1584px;
}
.stl_10 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.036055);
	-o-transform: scale(1,1.036055);
	-ms-transform: matrix(1,0,0,1.036055,0,-1.837768);
	-moz-transform: scale(1,1.036055);
	-webkit-transform: scale(1,1.036055);
}
.stl_11 {
	font-size: 1.283716em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_12 {
	letter-spacing: -0.0062em;
}

.ie .stl_12 {
	letter-spacing: -0.1279px;
}
.stl_13 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.042427);
	-o-transform: scale(1,1.042427);
	-ms-transform: matrix(1,0,0,1.042427,0,-1.4832);
	-moz-transform: scale(1,1.042427);
	-webkit-transform: scale(1,1.042427);
}
.stl_14 {
	font-size: 1.036044em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_15 {
	letter-spacing: -0.0036em;
}

.ie .stl_15 {
	letter-spacing: -0.059px;
}
.stl_16 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.024695);
	-o-transform: scale(1,1.024695);
	-ms-transform: matrix(1,0,0,1.024695,0,-0.838259);
	-moz-transform: scale(1,1.024695);
	-webkit-transform: scale(1,1.024695);
}
.stl_17 {
	font-size: 0.58554em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_18 {
	letter-spacing: 0em;
}

.ie .stl_18 {
	letter-spacing: 0px;
}
.stl_19 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.057194);
	-o-transform: scale(1,1.057194);
	-ms-transform: matrix(1,0,0,1.057194,0,-1.354151);
	-moz-transform: scale(1,1.057194);
	-webkit-transform: scale(1,1.057194);
}
.stl_20 {
	font-size: 0.9459em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_21 {
	letter-spacing: 0.0019em;
}

.ie .stl_21 {
	letter-spacing: 0.0292px;
}
.stl_22 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.0006);
	-o-transform: scale(1,1.0006);
	-ms-transform: matrix(1,0,0,1.0006,0,-1.309614);
	-moz-transform: scale(1,1.0006);
	-webkit-transform: scale(1,1.0006);
}
@font-face {
	font-family:"LJAMCQ+StoneSansStdSemibold--Identity-H";
	src:url("07522638-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.909454em;
	font-family: "LJAMCQ+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_24 {
	line-height: 1.2em;
}
.stl_25 {
	letter-spacing: 0.0035em;
}

.ie .stl_25 {
	letter-spacing: 0.0516px;
}
.stl_26 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-0.9995031);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_27 {
	font-size: 0.698172em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_28 {
	letter-spacing: -0.0015em;
}

.ie .stl_28 {
	letter-spacing: -0.0172px;
}
.stl_29 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-1);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_30 {
	letter-spacing: -0.002em;
}

.ie .stl_30 {
	letter-spacing: -0.0222px;
}
.stl_31 {
	letter-spacing: -0.0018em;
}

.ie .stl_31 {
	letter-spacing: -0.0199px;
}
.stl_32 {
	font-size: 0.75em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_33 {
	letter-spacing: -0.0011em;
}

.ie .stl_33 {
	letter-spacing: -0.0127px;
}
.stl_34 {
	font-size: 0.66em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_35 {
	letter-spacing: 0.005em;
}

.ie .stl_35 {
	letter-spacing: 0.0531px;
}
.stl_36 {
	letter-spacing: 0.0046em;
}

.ie .stl_36 {
	letter-spacing: 0.0482px;
}
.stl_37 {
	font-size: 0.66em;
	font-family: "LJAMCQ+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_38 {
	letter-spacing: 0.0044em;
}

.ie .stl_38 {
	letter-spacing: 0.0466px;
}
.stl_39 {
	letter-spacing: 0.0039em;
}

.ie .stl_39 {
	letter-spacing: 0.0408px;
}
.stl_40 {
	letter-spacing: 0.0061em;
}

.ie .stl_40 {
	letter-spacing: 0.0648px;
}
.stl_41 {
	letter-spacing: 0.0048em;
}

.ie .stl_41 {
	letter-spacing: 0.0509px;
}
.stl_42 {
	letter-spacing: 0.0042em;
}

.ie .stl_42 {
	letter-spacing: 0.0438px;
}
.stl_43 {
	letter-spacing: 0.0043em;
}

.ie .stl_43 {
	letter-spacing: 0.0453px;
}
.stl_44 {
	letter-spacing: 0.0049em;
}

.ie .stl_44 {
	letter-spacing: 0.0522px;
}
.stl_45 {
	letter-spacing: 0.0047em;
}

.ie .stl_45 {
	letter-spacing: 0.0492px;
}
.stl_46 {
	letter-spacing: 0.0037em;
}

.ie .stl_46 {
	letter-spacing: 0.0388px;
}
.stl_47 {
	letter-spacing: 0.0034em;
}

.ie .stl_47 {
	letter-spacing: 0.0361px;
}
.stl_48 {
	letter-spacing: 0.0067em;
}

.ie .stl_48 {
	letter-spacing: 0.0705px;
}
.stl_49 {
	letter-spacing: 0.004em;
}

.ie .stl_49 {
	letter-spacing: 0.0418px;
}
.stl_50 {
	letter-spacing: 0.0032em;
}

.ie .stl_50 {
	letter-spacing: 0.0335px;
}
.stl_51 {
	letter-spacing: 0.0056em;
}

.ie .stl_51 {
	letter-spacing: 0.059px;
}
.stl_52 {
	letter-spacing: 0.0065em;
}

.ie .stl_52 {
	letter-spacing: 0.0686px;
}
.stl_53 {
	letter-spacing: 0.0038em;
}

.ie .stl_53 {
	letter-spacing: 0.0399px;
}
.stl_54 {
	letter-spacing: 0.0036em;
}

.ie .stl_54 {
	letter-spacing: 0.0385px;
}
.stl_55 {
	letter-spacing: -0.0005em;
}

.ie .stl_55 {
	letter-spacing: -0.0063px;
}
.stl_56 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.040691);
	-o-transform: scale(1,1.040691);
	-ms-transform: matrix(1,0,0,1.040691,0,-1.031718);
	-moz-transform: scale(1,1.040691);
	-webkit-transform: scale(1,1.040691);
}
.stl_57 {
	font-size: 0.720675em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_58 {
	letter-spacing: -0.0051em;
}

.ie .stl_58 {
	letter-spacing: -0.0588px;
}
.stl_59 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.019576);
	-o-transform: scale(1,1.019576);
	-ms-transform: matrix(1,0,0,1.019576,0,-0.8790712);
	-moz-transform: scale(1,1.019576);
	-webkit-transform: scale(1,1.019576);
}
.stl_60 {
	font-size: 0.608096em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_61 {
	letter-spacing: -0.0126em;
}

.ie .stl_61 {
	letter-spacing: -0.1222px;
}
.stl_62 {
	font-size: 0.614048em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_63 {
	letter-spacing: -0.0124em;
}

.ie .stl_63 {
	letter-spacing: -0.1222px;
}
.stl_64 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.0006);
	-o-transform: scale(1,1.0006);
	-ms-transform: matrix(1,0,0,1.0006,0,-0.9442891);
	-moz-transform: scale(1,1.0006);
	-webkit-transform: scale(1,1.0006);
}
.stl_65 {
	font-size: 0.659604em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_66 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.0006);
	-o-transform: scale(1,1.0006);
	-ms-transform: matrix(1,0,0,1.0006,0,-0.9498298);
	-moz-transform: scale(1,1.0006);
	-webkit-transform: scale(1,1.0006);
}
.stl_67 {
	font-size: 0.659604em;
	font-family: "LJAMCQ+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_68 {
	font-size: 0.659802em;
	font-family: "LJAMCQ+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_69 {
	letter-spacing: 0.006em;
}

.ie .stl_69 {
	letter-spacing: 0.0631px;
}
.stl_70 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.0006);
	-o-transform: scale(1,1.0006);
	-ms-transform: matrix(1,0,0,1.0006,0,-2);
	-moz-transform: scale(1,1.0006);
	-webkit-transform: scale(1,1.0006);
}
.stl_71 {
	letter-spacing: 0.0045em;
}

.ie .stl_71 {
	letter-spacing: 0.0471px;
}
.stl_72 {
	letter-spacing: 0.0064em;
}

.ie .stl_72 {
	letter-spacing: 0.068px;
}
.stl_73 {
	letter-spacing: 0.0033em;
}

.ie .stl_73 {
	letter-spacing: 0.0348px;
}
.stl_74 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-1.4);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_75 {
	letter-spacing: -0.0019em;
}

.ie .stl_75 {
	letter-spacing: -0.0214px;
}
.stl_76 {
	letter-spacing: -0.0016em;
}

.ie .stl_76 {
	letter-spacing: -0.0175px;
}
.stl_77 {
	letter-spacing: -0.0038em;
}

.ie .stl_77 {
	letter-spacing: -0.0428px;
}
.stl_78 {
	letter-spacing: -0.0199em;
}

.ie .stl_78 {
	letter-spacing: -0.2222px;
}
.stl_79 {
	font-size: 0.714086em;
	font-family: "KRJRRP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_80 {
	letter-spacing: -0.0017em;
}

.ie .stl_80 {
	letter-spacing: -0.0192px;
}
.stl_81 {
	letter-spacing: -0.022em;
}

.ie .stl_81 {
	letter-spacing: -0.2456px;
}
.stl_82 {
	letter-spacing: -0.0021em;
}

.ie .stl_82 {
	letter-spacing: -0.0231px;
}
.stl_83 {
	letter-spacing: 0.0031em;
}

.ie .stl_83 {
	letter-spacing: 0.045px;
}
.stl_84 {
	letter-spacing: -0.0014em;
}

.ie .stl_84 {
	letter-spacing: -0.0151px;
}
.stl_85 {
	font-size: 0.909727em;
	font-family: "LJAMCQ+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_86 {
	letter-spacing: -0.0229em;
}

.ie .stl_86 {
	letter-spacing: -0.2555px;
}
.stl_87 {
	letter-spacing: 0.014em;
}

.ie .stl_87 {
	letter-spacing: 0.1562px;
}
.stl_88 {
	letter-spacing: -0.0192em;
}

.ie .stl_88 {
	letter-spacing: -0.2145px;
}
.stl_89 {
	letter-spacing: 0.0091em;
}

.ie .stl_89 {
	letter-spacing: 0.1013px;
}
.stl_90 {
	letter-spacing: 0.0193em;
}

.ie .stl_90 {
	letter-spacing: 0.215px;
}
.stl_91 {
	letter-spacing: -0.0123em;
}

.ie .stl_91 {
	letter-spacing: -0.1377px;
}
