sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 56.66667em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 38.91667em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 38.91667em;
}
.stl_06 {
	height: 5.666667em;
}
.ie .stl_06 {
	height: 56.66667em;
}
@font-face {
	font-family:"AHULSA+StoneSansStdMedium--Identity-H";
	src:url("7baa1764-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 2em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.193em;
}
.stl_09 {
	letter-spacing: -0.0987em;
}

.ie .stl_09 {
	letter-spacing: -3.1584px;
}
.stl_10 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.036055);
	-o-transform: scale(1,1.036055);
	-ms-transform: matrix(1,0,0,1.036055,0,-1.837768);
	-moz-transform: scale(1,1.036055);
	-webkit-transform: scale(1,1.036055);
}
.stl_11 {
	font-size: 1.283716em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_12 {
	letter-spacing: -0.0061em;
}

.ie .stl_12 {
	letter-spacing: -0.1263px;
}
.stl_13 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.042427);
	-o-transform: scale(1,1.042427);
	-ms-transform: matrix(1,0,0,1.042427,0,-1.4832);
	-moz-transform: scale(1,1.042427);
	-webkit-transform: scale(1,1.042427);
}
.stl_14 {
	font-size: 1.036044em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_15 {
	letter-spacing: -0.0036em;
}

.ie .stl_15 {
	letter-spacing: -0.059px;
}
.stl_16 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.024695);
	-o-transform: scale(1,1.024695);
	-ms-transform: matrix(1,0,0,1.024695,0,-0.838259);
	-moz-transform: scale(1,1.024695);
	-webkit-transform: scale(1,1.024695);
}
.stl_17 {
	font-size: 0.58554em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_18 {
	letter-spacing: 0em;
}

.ie .stl_18 {
	letter-spacing: 0px;
}
.stl_19 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.057194);
	-o-transform: scale(1,1.057194);
	-ms-transform: matrix(1,0,0,1.057194,0,-1.354151);
	-moz-transform: scale(1,1.057194);
	-webkit-transform: scale(1,1.057194);
}
.stl_20 {
	font-size: 0.9459em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_21 {
	letter-spacing: 0.0021em;
}

.ie .stl_21 {
	letter-spacing: 0.0314px;
}
.stl_22 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.0006);
	-o-transform: scale(1,1.0006);
	-ms-transform: matrix(1,0,0,1.0006,0,-1.309614);
	-moz-transform: scale(1,1.0006);
	-webkit-transform: scale(1,1.0006);
}
@font-face {
	font-family:"EDMFUW+StoneSansStdSemibold--Identity-H";
	src:url("c52791fc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.909454em;
	font-family: "EDMFUW+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_24 {
	line-height: 1.2em;
}
.stl_25 {
	letter-spacing: 0.0035em;
}

.ie .stl_25 {
	letter-spacing: 0.0516px;
}
.stl_26 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-0.9995031);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_27 {
	font-size: 0.698172em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_28 {
	letter-spacing: -0.0124em;
}

.ie .stl_28 {
	letter-spacing: -0.138px;
}
.stl_29 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-1);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_30 {
	letter-spacing: -0.0125em;
}

.ie .stl_30 {
	letter-spacing: -0.14px;
}
.stl_31 {
	letter-spacing: -0.0119em;
}

.ie .stl_31 {
	letter-spacing: -0.1329px;
}
.stl_32 {
	letter-spacing: -0.0123em;
}

.ie .stl_32 {
	letter-spacing: -0.1373px;
}
.stl_33 {
	letter-spacing: -0.0126em;
}

.ie .stl_33 {
	letter-spacing: -0.1409px;
}
.stl_34 {
	font-size: 0.714086em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_35 {
	letter-spacing: -0.012em;
}

.ie .stl_35 {
	letter-spacing: -0.1345px;
}
.stl_36 {
	font-size: 0.75em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_37 {
	letter-spacing: -0.0007em;
}

.ie .stl_37 {
	letter-spacing: -0.0084px;
}
.stl_38 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-0.9350295);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_39 {
	font-size: 0.653136em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_40 {
	letter-spacing: 0.0097em;
}

.ie .stl_40 {
	letter-spacing: 0.1016px;
}
.stl_41 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-0.9);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_42 {
	letter-spacing: 0.0094em;
}

.ie .stl_42 {
	letter-spacing: 0.0987px;
}
.stl_43 {
	letter-spacing: 0.0089em;
}

.ie .stl_43 {
	letter-spacing: 0.0928px;
}
.stl_44 {
	font-size: 0.66em;
	font-family: "EDMFUW+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_45 {
	letter-spacing: 0.0044em;
}

.ie .stl_45 {
	letter-spacing: 0.0466px;
}
.stl_46 {
	letter-spacing: 0.01em;
}

.ie .stl_46 {
	letter-spacing: 0.104px;
}
.stl_47 {
	letter-spacing: 0.0102em;
}

.ie .stl_47 {
	letter-spacing: 0.1069px;
}
.stl_48 {
	letter-spacing: 0.0088em;
}

.ie .stl_48 {
	letter-spacing: 0.0918px;
}
.stl_49 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.0006);
	-o-transform: scale(1,1.0006);
	-ms-transform: matrix(1,0,0,1.0006,0,-0.9442891);
	-moz-transform: scale(1,1.0006);
	-webkit-transform: scale(1,1.0006);
}
@font-face {
	font-family:"ILTTHH+StoneSansStdMedium-Italic--Identity-H";
	src:url("ee4b0347-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_50 {
	font-size: 0.659604em;
	font-family: "ILTTHH+StoneSansStdMedium-Italic--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_51 {
	letter-spacing: 0.0058em;
}

.ie .stl_51 {
	letter-spacing: 0.061px;
}
.stl_52 {
	font-size: 0.659802em;
	font-family: "ILTTHH+StoneSansStdMedium-Italic--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_53 {
	letter-spacing: 0.0099em;
}

.ie .stl_53 {
	letter-spacing: 0.1036px;
}
.stl_54 {
	letter-spacing: 0.0101em;
}

.ie .stl_54 {
	letter-spacing: 0.1051px;
}
.stl_55 {
	letter-spacing: 0.0086em;
}

.ie .stl_55 {
	letter-spacing: 0.09px;
}
.stl_56 {
	letter-spacing: 0.0095em;
}

.ie .stl_56 {
	letter-spacing: 0.0994px;
}
.stl_57 {
	letter-spacing: 0.0092em;
}

.ie .stl_57 {
	letter-spacing: 0.096px;
}
.stl_58 {
	letter-spacing: 0.0048em;
}

.ie .stl_58 {
	letter-spacing: 0.0509px;
}
.stl_59 {
	letter-spacing: 0.0109em;
}

.ie .stl_59 {
	letter-spacing: 0.1139px;
}
.stl_60 {
	letter-spacing: 0.0107em;
}

.ie .stl_60 {
	letter-spacing: 0.1121px;
}
.stl_61 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.0006);
	-o-transform: scale(1,1.0006);
	-ms-transform: matrix(1,0,0,1.0006,0,-0.9498298);
	-moz-transform: scale(1,1.0006);
	-webkit-transform: scale(1,1.0006);
}
.stl_62 {
	font-size: 0.659604em;
	font-family: "EDMFUW+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_63 {
	letter-spacing: 0.0046em;
}

.ie .stl_63 {
	letter-spacing: 0.0481px;
}
.stl_64 {
	letter-spacing: 0.0103em;
}

.ie .stl_64 {
	letter-spacing: 0.1078px;
}
.stl_65 {
	font-size: 0.656568em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_66 {
	letter-spacing: 0.0112em;
}

.ie .stl_66 {
	letter-spacing: 0.1172px;
}
.stl_67 {
	letter-spacing: 0.008em;
}

.ie .stl_67 {
	letter-spacing: 0.084px;
}
.stl_68 {
	letter-spacing: 0.0091em;
}

.ie .stl_68 {
	letter-spacing: 0.0946px;
}
.stl_69 {
	letter-spacing: 0.0093em;
}

.ie .stl_69 {
	letter-spacing: 0.0967px;
}
.stl_70 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.040691);
	-o-transform: scale(1,1.040691);
	-ms-transform: matrix(1,0,0,1.040691,0,-1.031718);
	-moz-transform: scale(1,1.040691);
	-webkit-transform: scale(1,1.040691);
}
.stl_71 {
	font-size: 0.720675em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_72 {
	letter-spacing: -0.0051em;
}

.ie .stl_72 {
	letter-spacing: -0.0588px;
}
.stl_73 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.019576);
	-o-transform: scale(1,1.019576);
	-ms-transform: matrix(1,0,0,1.019576,0,-0.8790712);
	-moz-transform: scale(1,1.019576);
	-webkit-transform: scale(1,1.019576);
}
.stl_74 {
	font-size: 0.608096em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_75 {
	font-size: 0.614048em;
	font-family: "AHULSA+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_76 {
	letter-spacing: 0.0047em;
}

.ie .stl_76 {
	letter-spacing: 0.05px;
}
.stl_77 {
	letter-spacing: 0.0085em;
}

.ie .stl_77 {
	letter-spacing: 0.0892px;
}
.stl_78 {
	font-size: 0.659802em;
	font-family: "EDMFUW+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_79 {
	letter-spacing: 0.0116em;
}

.ie .stl_79 {
	letter-spacing: 0.121px;
}
.stl_80 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-2);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_81 {
	letter-spacing: 0.0084em;
}

.ie .stl_81 {
	letter-spacing: 0.0878px;
}
.stl_82 {
	letter-spacing: 0.004em;
}

.ie .stl_82 {
	letter-spacing: 0.0417px;
}
.stl_83 {
	letter-spacing: 0.0045em;
}

.ie .stl_83 {
	letter-spacing: 0.0471px;
}
.stl_84 {
	letter-spacing: 0.0052em;
}

.ie .stl_84 {
	letter-spacing: 0.055px;
}
.stl_85 {
	letter-spacing: 0.0053em;
}

.ie .stl_85 {
	letter-spacing: 0.055px;
}
.stl_86 {
	letter-spacing: 0.0114em;
}

.ie .stl_86 {
	letter-spacing: 0.1191px;
}
.stl_87 {
	letter-spacing: 0.0057em;
}

.ie .stl_87 {
	letter-spacing: 0.06px;
}
.stl_88 {
	letter-spacing: 0.0082em;
}

.ie .stl_88 {
	letter-spacing: 0.0858px;
}
.stl_89 {
	letter-spacing: 0.0033em;
}

.ie .stl_89 {
	letter-spacing: 0.0348px;
}
.stl_90 {
	letter-spacing: 0.0126em;
}

.ie .stl_90 {
	letter-spacing: 0.1319px;
}
.stl_91 {
	letter-spacing: 0.0049em;
}

.ie .stl_91 {
	letter-spacing: 0.052px;
}
.stl_92 {
	letter-spacing: 0.0067em;
}

.ie .stl_92 {
	letter-spacing: 0.0704px;
}
.stl_93 {
	letter-spacing: 0.0231em;
}

.ie .stl_93 {
	letter-spacing: 0.2415px;
}
.stl_94 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-0.9399428);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_95 {
	letter-spacing: 0.0155em;
}

.ie .stl_95 {
	letter-spacing: 0.1615px;
}
.stl_96 {
	letter-spacing: 0.0154em;
}

.ie .stl_96 {
	letter-spacing: 0.1615px;
}
.stl_97 {
	letter-spacing: 0.0087em;
}

.ie .stl_97 {
	letter-spacing: 0.0911px;
}
.stl_98 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-1.5);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_99 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-1.6);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_100 {
	letter-spacing: 0.0073em;
}

.ie .stl_100 {
	letter-spacing: 0.0761px;
}
.stl_101 {
	letter-spacing: 0.0065em;
}

.ie .stl_101 {
	letter-spacing: 0.0679px;
}
.stl_102 {
	letter-spacing: 0.0144em;
}

.ie .stl_102 {
	letter-spacing: 0.1503px;
}
.stl_103 {
	letter-spacing: 0.0054em;
}

.ie .stl_103 {
	letter-spacing: 0.0565px;
}
.stl_104 {
	letter-spacing: 0.0096em;
}

.ie .stl_104 {
	letter-spacing: 0.1001px;
}
.stl_105 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.019576);
	-o-transform: scale(1,1.019576);
	-ms-transform: matrix(1,0,0,1.019576,0,-0.8705503);
	-moz-transform: scale(1,1.019576);
	-webkit-transform: scale(1,1.019576);
}
.stl_106 {
	letter-spacing: -0.0111em;
}

.ie .stl_106 {
	letter-spacing: -0.1081px;
}
.stl_107 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-1.4);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_108 {
	letter-spacing: -0.002em;
}

.ie .stl_108 {
	letter-spacing: -0.0226px;
}
.stl_109 {
	letter-spacing: -0.0016em;
}

.ie .stl_109 {
	letter-spacing: -0.0182px;
}
.stl_110 {
	letter-spacing: 0.0032em;
}

.ie .stl_110 {
	letter-spacing: 0.0468px;
}
.stl_111 {
	letter-spacing: -0.0015em;
}

.ie .stl_111 {
	letter-spacing: -0.017px;
}
.stl_112 {
	letter-spacing: -0.0019em;
}

.ie .stl_112 {
	letter-spacing: -0.0207px;
}
.stl_113 {
	letter-spacing: -0.0009em;
}

.ie .stl_113 {
	letter-spacing: -0.0099px;
}
.stl_114 {
	letter-spacing: -0.0024em;
}

.ie .stl_114 {
	letter-spacing: -0.0268px;
}
.stl_115 {
	letter-spacing: -0.0013em;
}

.ie .stl_115 {
	letter-spacing: -0.0141px;
}
.stl_116 {
	letter-spacing: -0.0017em;
}

.ie .stl_116 {
	letter-spacing: -0.019px;
}
.stl_117 {
	letter-spacing: 0.0031em;
}

.ie .stl_117 {
	letter-spacing: 0.045px;
}
.stl_118 {
	letter-spacing: -0.0014em;
}

.ie .stl_118 {
	letter-spacing: -0.0151px;
}
.stl_119 {
	letter-spacing: 0.0036em;
}

.ie .stl_119 {
	letter-spacing: 0.0523px;
}
.stl_120 {
	font-size: 0.909727em;
	font-family: "EDMFUW+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_121 {
	letter-spacing: -0.0118em;
}

.ie .stl_121 {
	letter-spacing: -0.1319px;
}
.stl_122 {
	letter-spacing: -0.0218em;
}

.ie .stl_122 {
	letter-spacing: -0.2434px;
}
.stl_123 {
	letter-spacing: 0.0117em;
}

.ie .stl_123 {
	letter-spacing: 0.1306px;
}
.stl_124 {
	letter-spacing: 0.0075em;
}

.ie .stl_124 {
	letter-spacing: 0.0839px;
}
.stl_125 {
	letter-spacing: 0.0002em;
}

.ie .stl_125 {
	letter-spacing: 0.0025px;
}
.stl_126 {
	letter-spacing: 0.011em;
}

.ie .stl_126 {
	letter-spacing: 0.1225px;
}
.stl_127 {
	letter-spacing: 0.0122em;
}

.ie .stl_127 {
	letter-spacing: 0.136px;
}
.stl_128 {
	letter-spacing: 0.0115em;
}

.ie .stl_128 {
	letter-spacing: 0.1285px;
}
.stl_129 {
	letter-spacing: 0.003em;
}

.ie .stl_129 {
	letter-spacing: 0.0439px;
}
