sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 40.08333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 27.08333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 27.08333em;
}
.stl_06 {
	height: 4.008333em;
}
.ie .stl_06 {
	height: 40.08333em;
}
@font-face {
	font-family:"LJAOVC+FrutigerLTStd-Black";
	src:url("7ee4f117-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.5em;
	font-family: "LJAOVC+FrutigerLTStd-Black";
	color: #44AA42;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	font-size: 1em;
	font-family: "LJAOVC+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: -0.0008em;
}

.ie .stl_11 {
	letter-spacing: -0.0131px;
}
.stl_12 {
	letter-spacing: -0.0007em;
}

.ie .stl_12 {
	letter-spacing: -0.0107px;
}
@font-face {
	font-family:"DMNSWQ+FrutigerLTStd-Roman";
	src:url("70186140-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.666667em;
	font-family: "DMNSWQ+FrutigerLTStd-Roman";
	color: #221E1F;
}
.stl_14 {
	line-height: 1.185em;
}
.stl_15 {
	letter-spacing: -0.0004em;
}

.ie .stl_15 {
	letter-spacing: -0.0045px;
}
.stl_16 {
	letter-spacing: -0.015em;
}

.ie .stl_16 {
	letter-spacing: -0.16px;
}
.stl_17 {
	letter-spacing: -0.0022em;
}

.ie .stl_17 {
	letter-spacing: -0.0234px;
}
.stl_18 {
	letter-spacing: -0.005em;
}

.ie .stl_18 {
	letter-spacing: -0.0533px;
}
.stl_19 {
	letter-spacing: -0.0056em;
}

.ie .stl_19 {
	letter-spacing: -0.0598px;
}
.stl_20 {
	letter-spacing: -0.0029em;
}

.ie .stl_20 {
	letter-spacing: -0.0311px;
}
.stl_21 {
	font-size: 0.75em;
	font-family: "LJAOVC+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_22 {
	letter-spacing: -0.0019em;
}

.ie .stl_22 {
	letter-spacing: -0.0204px;
}
.stl_23 {
	letter-spacing: -0.0018em;
}

.ie .stl_23 {
	letter-spacing: -0.0216px;
}
.stl_24 {
	letter-spacing: -0.0042em;
}

.ie .stl_24 {
	letter-spacing: -0.0508px;
}
@font-face {
	font-family:"RVUJOU+FrutigerLTStd-Bold";
	src:url("4c21ae07-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.708333em;
	font-family: "RVUJOU+FrutigerLTStd-Bold";
	color: #44AA42;
}
@font-face {
	font-family:"UPLLQL+SymbolBold";
	src:url("55385854-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.708333em;
	font-family: "UPLLQL+SymbolBold", "Times New Roman";
	color: #44AA42;
}
.stl_27 {
	line-height: 1.336em;
}
@font-face {
	font-family:"LMCRSL+FrutigerLTStd-Light";
	src:url("89867512-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 0.666667em;
	font-family: "LMCRSL+FrutigerLTStd-Light";
	color: #221E1F;
}
.stl_29 {
	line-height: 1.161em;
}
.stl_30 {
	font-size: 0.5em;
	font-family: "DMNSWQ+FrutigerLTStd-Roman";
	color: #45AB43;
}
.stl_31 {
	letter-spacing: -0.01em;
}

.ie .stl_31 {
	letter-spacing: -0.08px;
}
@font-face {
	font-family:"ERTDTG+??";
	src:url("e641dc8f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_32 {
	font-size: 1em;
	font-family: "ERTDTG+??", "Times New Roman";
	color: #408000;
}
.stl_33 {
	line-height: 1.107422em;
}
.stl_34 {
	letter-spacing: 0.0419em;
}

.ie .stl_34 {
	letter-spacing: 0.67px;
}
.stl_35 {
	font-size: 0.666667em;
	font-family: "UPLLQL+SymbolBold", "Times New Roman";
	color: #221E1F;
}
.stl_36 {
	font-size: 0.666667em;
	font-family: "RVUJOU+FrutigerLTStd-Bold";
	color: #221E1F;
}
.stl_37 {
	font-size: 0.833333em;
	font-family: "LJAOVC+FrutigerLTStd-Black";
	color: #FFFFFF;
}
.stl_38 {
	font-size: 0.583333em;
	font-family: "LMCRSL+FrutigerLTStd-Light";
	color: #221E1F;
}
@font-face {
	font-family:"ULUVNJ+Symbol";
	src:url("5be6c703-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.583333em;
	font-family: "ULUVNJ+Symbol", "Times New Roman";
	color: #221E1F;
}
.stl_40 {
	line-height: 1.303em;
}
.stl_41 {
	letter-spacing: -0.0084em;
}

.ie .stl_41 {
	letter-spacing: -0.0948px;
}
.stl_42 {
	letter-spacing: -0.0014em;
}

.ie .stl_42 {
	letter-spacing: -0.0166px;
}
.stl_43 {
	letter-spacing: -0.0013em;
}

.ie .stl_43 {
	letter-spacing: -0.0146px;
}
.stl_44 {
	font-size: 0.708333em;
	font-family: "LMCRSL+FrutigerLTStd-Light";
	color: #221E1F;
}
@font-face {
	font-family:"BQELTT+FrutigerLTStd-Italic";
	src:url("92b35558-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_45 {
	font-size: 0.666667em;
	font-family: "BQELTT+FrutigerLTStd-Italic";
	color: #221E1F;
}
.stl_46 {
	line-height: 1.18em;
}
.stl_47 {
	font-size: 0.666667em;
	font-family: "ULUVNJ+Symbol", "Times New Roman";
	color: #221E1F;
}
@font-face {
	font-family:"GTAEBQ+FrutigerLTStd-BoldCn";
	src:url("36ef1e4e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_48 {
	font-size: 0.75em;
	font-family: "GTAEBQ+FrutigerLTStd-BoldCn", "Times New Roman";
	color: #44AA42;
}
.stl_49 {
	line-height: 1.19em;
}
@font-face {
	font-family:"DNWOLR+FrutigerLTStd-Cn";
	src:url("e8adc95f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_50 {
	font-size: 0.666667em;
	font-family: "DNWOLR+FrutigerLTStd-Cn";
	color: #221E1F;
}
.stl_51 {
	line-height: 1.179em;
}
.stl_52 {
	letter-spacing: -0.0021em;
}

.ie .stl_52 {
	letter-spacing: -0.0226px;
}
.stl_53 {
	letter-spacing: -0.0037em;
}

.ie .stl_53 {
	letter-spacing: -0.0392px;
}
.stl_54 {
	letter-spacing: -0.0009em;
}

.ie .stl_54 {
	letter-spacing: -0.0092px;
}
.stl_55 {
	letter-spacing: 0.0043em;
}

.ie .stl_55 {
	letter-spacing: 0.0458px;
}
.stl_56 {
	letter-spacing: -0.0017em;
}

.ie .stl_56 {
	letter-spacing: -0.0179px;
}
.stl_57 {
	letter-spacing: 0.0001em;
}

.ie .stl_57 {
	letter-spacing: 0.0007px;
}
.stl_58 {
	letter-spacing: -0.0003em;
}

.ie .stl_58 {
	letter-spacing: -0.0037px;
}
.stl_59 {
	letter-spacing: 0.004em;
}

.ie .stl_59 {
	letter-spacing: 0.0429px;
}
.stl_60 {
	font-size: 0.708333em;
	font-family: "RVUJOU+FrutigerLTStd-Bold";
	color: #45AB43;
}
.stl_61 {
	letter-spacing: -0.0218em;
}

.ie .stl_61 {
	letter-spacing: -0.2326px;
}
.stl_62 {
	letter-spacing: 0.003em;
}

.ie .stl_62 {
	letter-spacing: 0.0318px;
}
.stl_63 {
	letter-spacing: -0.0005em;
}

.ie .stl_63 {
	letter-spacing: -0.0052px;
}
