sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 40.08333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 27.08333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 27.08333em;
}
.stl_06 {
	height: 4.008333em;
}
.ie .stl_06 {
	height: 40.08333em;
}
@font-face {
	font-family:"DCCRSA+FrutigerLTStd-Black";
	src:url("17b841bc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.5em;
	font-family: "DCCRSA+FrutigerLTStd-Black";
	color: #44AA42;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.0005em;
}

.ie .stl_09 {
	letter-spacing: -0.0131px;
}
.stl_10 {
	font-size: 1em;
	font-family: "DCCRSA+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: -0.0008em;
}

.ie .stl_11 {
	letter-spacing: -0.0131px;
}
.stl_12 {
	font-size: 0.833333em;
	font-family: "DCCRSA+FrutigerLTStd-Black";
	color: #FFFFFF;
}
.stl_13 {
	letter-spacing: 0em;
}

.ie .stl_13 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"DVRDKL+FrutigerLTStd-Roman";
	src:url("a0cf8efb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 0.666667em;
	font-family: "DVRDKL+FrutigerLTStd-Roman";
	color: #221E1F;
}
.stl_15 {
	line-height: 1.185em;
}
.stl_16 {
	font-size: 0.75em;
	font-family: "DCCRSA+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_17 {
	letter-spacing: -0.0018em;
}

.ie .stl_17 {
	letter-spacing: -0.0216px;
}
.stl_18 {
	letter-spacing: -0.0004em;
}

.ie .stl_18 {
	letter-spacing: -0.0043px;
}
.stl_19 {
	letter-spacing: -0.0042em;
}

.ie .stl_19 {
	letter-spacing: -0.0508px;
}
@font-face {
	font-family:"HRQHIW+FrutigerLTStd-Bold";
	src:url("99f941e0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.666667em;
	font-family: "HRQHIW+FrutigerLTStd-Bold";
	color: #221E1F;
}
.stl_21 {
	letter-spacing: 0.0125em;
}

.ie .stl_21 {
	letter-spacing: 0.1333px;
}
@font-face {
	font-family:"PUWPBQ+SymbolBold";
	src:url("2df6bd57-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_22 {
	font-size: 0.666667em;
	font-family: "PUWPBQ+SymbolBold", "Times New Roman";
	color: #221E1F;
}
.stl_23 {
	line-height: 1.336em;
}
.stl_24 {
	letter-spacing: 0.0078em;
}

.ie .stl_24 {
	letter-spacing: 0.0836px;
}
.stl_25 {
	letter-spacing: 0.0002em;
}

.ie .stl_25 {
	letter-spacing: 0.0018px;
}
.stl_26 {
	letter-spacing: -0.0054em;
}

.ie .stl_26 {
	letter-spacing: -0.0577px;
}
.stl_27 {
	letter-spacing: 0.0038em;
}

.ie .stl_27 {
	letter-spacing: 0.0405px;
}
.stl_28 {
	letter-spacing: -0.0021em;
}

.ie .stl_28 {
	letter-spacing: -0.022px;
}
.stl_29 {
	letter-spacing: 0.0059em;
}

.ie .stl_29 {
	letter-spacing: 0.0632px;
}
.stl_30 {
	letter-spacing: 0.0057em;
}

.ie .stl_30 {
	letter-spacing: 0.0604px;
}
.stl_31 {
	letter-spacing: -0.0035em;
}

.ie .stl_31 {
	letter-spacing: -0.0377px;
}
.stl_32 {
	letter-spacing: 0.0008em;
}

.ie .stl_32 {
	letter-spacing: 0.0088px;
}
.stl_33 {
	font-size: 0.5em;
	font-family: "DVRDKL+FrutigerLTStd-Roman";
	color: #45AB43;
}
@font-face {
	font-family:"DJKVFN+FrutigerLTStd-Italic";
	src:url("8d768165-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 0.5em;
	font-family: "DJKVFN+FrutigerLTStd-Italic";
	color: #45AB43;
}
.stl_35 {
	line-height: 1.18em;
}
@font-face {
	font-family:"WBGTSP+FrutigerLTStd-Light";
	src:url("61e40abb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 0.666667em;
	font-family: "WBGTSP+FrutigerLTStd-Light", "Times New Roman";
	color: #221E1F;
}
.stl_37 {
	line-height: 1.161em;
}
.stl_38 {
	letter-spacing: 0.0027em;
}

.ie .stl_38 {
	letter-spacing: 0.0284px;
}
.stl_39 {
	letter-spacing: 0.005em;
}

.ie .stl_39 {
	letter-spacing: 0.0533px;
}
.stl_40 {
	letter-spacing: -0.0006em;
}

.ie .stl_40 {
	letter-spacing: -0.0074px;
}
@font-face {
	font-family:"BDFIQT+??";
	src:url("811e1713-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 1em;
	font-family: "BDFIQT+??", "Times New Roman";
	color: #408000;
}
.stl_42 {
	line-height: 1.107422em;
}
.stl_43 {
	letter-spacing: 0.0419em;
}

.ie .stl_43 {
	letter-spacing: 0.67px;
}
