sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 56.66667em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 38.91667em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 38.91667em;
}
.stl_06 {
	height: 5.666667em;
}
.ie .stl_06 {
	height: 56.66667em;
}
@font-face {
	font-family:"EKQDNP+StoneSansStdMedium--Identity-H";
	src:url("135923d1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 2em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.193em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	letter-spacing: -0.0151em;
}

.ie .stl_10 {
	letter-spacing: -0.4846px;
}
.stl_11 {
	font-size: 1.283716em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_12 {
	letter-spacing: -0.0236em;
}

.ie .stl_12 {
	letter-spacing: -0.4846px;
}
.stl_13 {
	font-size: 1.306858em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_14 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.042427);
	-o-transform: scale(1,1.042427);
	-ms-transform: matrix(1,0,0,1.042427,0,-1.4832);
	-moz-transform: scale(1,1.042427);
	-webkit-transform: scale(1,1.042427);
}
.stl_15 {
	font-size: 1.036044em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_16 {
	letter-spacing: -0.0034em;
}

.ie .stl_16 {
	letter-spacing: -0.0559px;
}
.stl_17 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.024695);
	-o-transform: scale(1,1.024695);
	-ms-transform: matrix(1,0,0,1.024695,0,-0.838259);
	-moz-transform: scale(1,1.024695);
	-webkit-transform: scale(1,1.024695);
}
.stl_18 {
	font-size: 0.58554em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_19 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.057194);
	-o-transform: scale(1,1.057194);
	-ms-transform: matrix(1,0,0,1.057194,0,-1.354151);
	-moz-transform: scale(1,1.057194);
	-webkit-transform: scale(1,1.057194);
}
.stl_20 {
	font-size: 0.9459em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_21 {
	letter-spacing: 0.0019em;
}

.ie .stl_21 {
	letter-spacing: 0.0282px;
}
.stl_22 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.0006);
	-o-transform: scale(1,1.0006);
	-ms-transform: matrix(1,0,0,1.0006,0,-1.309614);
	-moz-transform: scale(1,1.0006);
	-webkit-transform: scale(1,1.0006);
}
@font-face {
	font-family:"VLMGGA+StoneSansStdSemibold--Identity-H";
	src:url("925c28de-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.909454em;
	font-family: "VLMGGA+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_24 {
	line-height: 1.2em;
}
.stl_25 {
	letter-spacing: 0.0035em;
}

.ie .stl_25 {
	letter-spacing: 0.0516px;
}
.stl_26 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-1.4);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_27 {
	font-size: 0.698172em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_28 {
	letter-spacing: -0.0021em;
}

.ie .stl_28 {
	letter-spacing: -0.0229px;
}
.stl_29 {
	font-size: 0.75em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_30 {
	letter-spacing: -0.0003em;
}

.ie .stl_30 {
	letter-spacing: -0.0032px;
}
.stl_31 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-1.6);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_32 {
	font-size: 0.653136em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_33 {
	letter-spacing: 0.009em;
}

.ie .stl_33 {
	letter-spacing: 0.0941px;
}
.stl_34 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-0.9350295);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_35 {
	letter-spacing: 0.0105em;
}

.ie .stl_35 {
	letter-spacing: 0.1093px;
}
.stl_36 {
	letter-spacing: 0.0086em;
}

.ie .stl_36 {
	letter-spacing: 0.0899px;
}
.stl_37 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.007049);
	-o-transform: scale(1,1.007049);
	-ms-transform: matrix(1,0,0,1.007049,0,-0.9437472);
	-moz-transform: scale(1,1.007049);
	-webkit-transform: scale(1,1.007049);
}
.stl_38 {
	font-size: 0.65538em;
	font-family: "VLMGGA+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_39 {
	letter-spacing: 0.0076em;
}

.ie .stl_39 {
	letter-spacing: 0.0798px;
}
.stl_40 {
	letter-spacing: 0.0099em;
}

.ie .stl_40 {
	letter-spacing: 0.1034px;
}
.stl_41 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.010509);
	-o-transform: scale(1,1.010509);
	-ms-transform: matrix(1,0,0,1.010509,0,-0.9);
	-moz-transform: scale(1,1.010509);
	-webkit-transform: scale(1,1.010509);
}
.stl_42 {
	letter-spacing: 0.0092em;
}

.ie .stl_42 {
	letter-spacing: 0.0967px;
}
.stl_43 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.0006);
	-o-transform: scale(1,1.0006);
	-ms-transform: matrix(1,0,0,1.0006,0,-0.9442891);
	-moz-transform: scale(1,1.0006);
	-webkit-transform: scale(1,1.0006);
}
@font-face {
	font-family:"TNPRDW+StoneSansStdMedium-Italic--Identity-H";
	src:url("d2ce6ed0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_44 {
	font-size: 0.659604em;
	font-family: "TNPRDW+StoneSansStdMedium-Italic--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_45 {
	letter-spacing: 0.0097em;
}

.ie .stl_45 {
	letter-spacing: 0.1027px;
}
.stl_46 {
	letter-spacing: 0.0098em;
}

.ie .stl_46 {
	letter-spacing: 0.1027px;
}
.stl_47 {
	letter-spacing: 0.0094em;
}

.ie .stl_47 {
	letter-spacing: 0.0981px;
}
.stl_48 {
	letter-spacing: 0.0079em;
}

.ie .stl_48 {
	letter-spacing: 0.0837px;
}
.stl_49 {
	letter-spacing: 0.008em;
}

.ie .stl_49 {
	letter-spacing: 0.0837px;
}
.stl_50 {
	letter-spacing: 0.0075em;
}

.ie .stl_50 {
	letter-spacing: 0.0792px;
}
.stl_51 {
	letter-spacing: 0.0081em;
}

.ie .stl_51 {
	letter-spacing: 0.0845px;
}
.stl_52 {
	letter-spacing: 0.0077em;
}

.ie .stl_52 {
	letter-spacing: 0.081px;
}
.stl_53 {
	letter-spacing: 0.0114em;
}

.ie .stl_53 {
	letter-spacing: 0.1191px;
}
.stl_54 {
	letter-spacing: 0.01em;
}

.ie .stl_54 {
	letter-spacing: 0.1045px;
}
.stl_55 {
	letter-spacing: 0.0109em;
}

.ie .stl_55 {
	letter-spacing: 0.1144px;
}
.stl_56 {
	letter-spacing: 0.0095em;
}

.ie .stl_56 {
	letter-spacing: 0.0992px;
}
.stl_57 {
	letter-spacing: 0.0112em;
}

.ie .stl_57 {
	letter-spacing: 0.1173px;
}
.stl_58 {
	letter-spacing: 0.0072em;
}

.ie .stl_58 {
	letter-spacing: 0.0757px;
}
.stl_59 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.007049);
	-o-transform: scale(1,1.007049);
	-ms-transform: matrix(1,0,0,1.007049,0,-1.6);
	-moz-transform: scale(1,1.007049);
	-webkit-transform: scale(1,1.007049);
}
.stl_60 {
	letter-spacing: 0.007em;
}

.ie .stl_60 {
	letter-spacing: 0.0735px;
}
.stl_61 {
	letter-spacing: 0.0111em;
}

.ie .stl_61 {
	letter-spacing: 0.1162px;
}
.stl_62 {
	letter-spacing: 0.0084em;
}

.ie .stl_62 {
	letter-spacing: 0.0878px;
}
.stl_63 {
	letter-spacing: 0.0103em;
}

.ie .stl_63 {
	letter-spacing: 0.1078px;
}
.stl_64 {
	letter-spacing: 0.0104em;
}

.ie .stl_64 {
	letter-spacing: 0.1091px;
}
.stl_65 {
	letter-spacing: 0.0063em;
}

.ie .stl_65 {
	letter-spacing: 0.0661px;
}
.stl_66 {
	letter-spacing: 0.0159em;
}

.ie .stl_66 {
	letter-spacing: 0.1665px;
}
.stl_67 {
	font-size: 0.65769em;
	font-family: "VLMGGA+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_68 {
	letter-spacing: 0.0082em;
}

.ie .stl_68 {
	letter-spacing: 0.0855px;
}
.stl_69 {
	letter-spacing: 0.0032em;
}

.ie .stl_69 {
	letter-spacing: 0.0468px;
}
.stl_70 {
	letter-spacing: -0.0013em;
}

.ie .stl_70 {
	letter-spacing: -0.0147px;
}
.stl_71 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-1);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_72 {
	letter-spacing: -0.0017em;
}

.ie .stl_72 {
	letter-spacing: -0.0188px;
}
.stl_73 {
	letter-spacing: -0.0026em;
}

.ie .stl_73 {
	letter-spacing: -0.0288px;
}
.stl_74 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.040691);
	-o-transform: scale(1,1.040691);
	-ms-transform: matrix(1,0,0,1.040691,0,-1.031718);
	-moz-transform: scale(1,1.040691);
	-webkit-transform: scale(1,1.040691);
}
.stl_75 {
	font-size: 0.720675em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_76 {
	letter-spacing: -0.0051em;
}

.ie .stl_76 {
	letter-spacing: -0.0588px;
}
.stl_77 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.019576);
	-o-transform: scale(1,1.019576);
	-ms-transform: matrix(1,0,0,1.019576,0,-0.8790712);
	-moz-transform: scale(1,1.019576);
	-webkit-transform: scale(1,1.019576);
}
.stl_78 {
	font-size: 0.608096em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_79 {
	letter-spacing: -0.011em;
}

.ie .stl_79 {
	letter-spacing: -0.1073px;
}
.stl_80 {
	font-size: 0.614048em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_81 {
	letter-spacing: -0.0109em;
}

.ie .stl_81 {
	letter-spacing: -0.1073px;
}
.stl_82 {
	-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	-moz-webkit-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale(1,1.045588);
	-o-transform: scale(1,1.045588);
	-ms-transform: matrix(1,0,0,1.045588,0,-0.9995031);
	-moz-transform: scale(1,1.045588);
	-webkit-transform: scale(1,1.045588);
}
.stl_83 {
	letter-spacing: -0.0212em;
}

.ie .stl_83 {
	letter-spacing: -0.2369px;
}
.stl_84 {
	letter-spacing: -0.0198em;
}

.ie .stl_84 {
	letter-spacing: -0.2216px;
}
.stl_85 {
	font-size: 0.43395em;
	font-family: "EKQDNP+StoneSansStdMedium--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_86 {
	letter-spacing: -0.0016em;
}

.ie .stl_86 {
	letter-spacing: -0.0181px;
}
.stl_87 {
	letter-spacing: 0.0031em;
}

.ie .stl_87 {
	letter-spacing: 0.045px;
}
.stl_88 {
	letter-spacing: 0.0036em;
}

.ie .stl_88 {
	letter-spacing: 0.0523px;
}
.stl_89 {
	font-size: 0.909727em;
	font-family: "VLMGGA+StoneSansStdSemibold--Identity-H", "Times New Roman";
	color: #221E1F;
}
.stl_90 {
	letter-spacing: -0.0014em;
}

.ie .stl_90 {
	letter-spacing: -0.0151px;
}
.stl_91 {
	letter-spacing: 0.0033em;
}

.ie .stl_91 {
	letter-spacing: 0.048px;
}
.stl_92 {
	letter-spacing: -0.0219em;
}

.ie .stl_92 {
	letter-spacing: -0.2447px;
}
.stl_93 {
	letter-spacing: -0.0215em;
}

.ie .stl_93 {
	letter-spacing: -0.2398px;
}
.stl_94 {
	letter-spacing: 0.003em;
}

.ie .stl_94 {
	letter-spacing: 0.0439px;
}
.stl_95 {
	letter-spacing: -0.0018em;
}

.ie .stl_95 {
	letter-spacing: -0.0205px;
}
