sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 40.08333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 27.08333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 27.08333em;
}
.stl_06 {
	height: 4.008333em;
}
.ie .stl_06 {
	height: 40.08333em;
}
@font-face {
	font-family:"VRQKFI+FrutigerLTStd-Black";
	src:url("5c398774-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.5em;
	font-family: "VRQKFI+FrutigerLTStd-Black";
	color: #44AA42;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: -0.001em;
}

.ie .stl_09 {
	letter-spacing: -0.0231px;
}
.stl_10 {
	font-size: 1em;
	font-family: "VRQKFI+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: -0.0014em;
}

.ie .stl_11 {
	letter-spacing: -0.0231px;
}
.stl_12 {
	letter-spacing: 0em;
}

.ie .stl_12 {
	letter-spacing: 0px;
}
.stl_13 {
	font-size: 0.833333em;
	font-family: "VRQKFI+FrutigerLTStd-Black";
	color: #FFFFFF;
}
@font-face {
	font-family:"ETKDQK+FrutigerLTStd-Roman";
	src:url("ce8f007c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 0.666667em;
	font-family: "ETKDQK+FrutigerLTStd-Roman";
	color: #221E1F;
}
.stl_15 {
	line-height: 1.185em;
}
.stl_16 {
	letter-spacing: -0.0004em;
}

.ie .stl_16 {
	letter-spacing: -0.0038px;
}
.stl_17 {
	letter-spacing: 0.0058em;
}

.ie .stl_17 {
	letter-spacing: 0.062px;
}
.stl_18 {
	letter-spacing: -0.0021em;
}

.ie .stl_18 {
	letter-spacing: -0.0223px;
}
.stl_19 {
	font-size: 0.75em;
	font-family: "VRQKFI+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_20 {
	letter-spacing: -0.0018em;
}

.ie .stl_20 {
	letter-spacing: -0.0216px;
}
@font-face {
	font-family:"IGMCOT+BundesbahnPiStd-1";
	src:url("a88a4fab-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.916667em;
	font-family: "IGMCOT+BundesbahnPiStd-1", "Times New Roman";
	color: #808184;
}
.stl_22 {
	line-height: 0.971em;
}
@font-face {
	font-family:"HLNOJC+FrutigerLTStd-Italic";
	src:url("fb4abf51-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_23 {
	font-size: 0.666667em;
	font-family: "HLNOJC+FrutigerLTStd-Italic", "Times New Roman";
	color: #221E1F;
}
.stl_24 {
	line-height: 1.18em;
}
.stl_25 {
	letter-spacing: -0.0042em;
}

.ie .stl_25 {
	letter-spacing: -0.0508px;
}
.stl_26 {
	letter-spacing: 0.0001em;
}

.ie .stl_26 {
	letter-spacing: 0.0008px;
}
@font-face {
	font-family:"FORHIK+FrutigerLTStd-Bold";
	src:url("02bfe90a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.666667em;
	font-family: "FORHIK+FrutigerLTStd-Bold";
	color: #221E1F;
}
.stl_28 {
	letter-spacing: -0.0011em;
}

.ie .stl_28 {
	letter-spacing: -0.012px;
}
.stl_29 {
	letter-spacing: -0.0029em;
}

.ie .stl_29 {
	letter-spacing: -0.0307px;
}
.stl_30 {
	letter-spacing: -0.0019em;
}

.ie .stl_30 {
	letter-spacing: -0.0206px;
}
.stl_31 {
	letter-spacing: -0.0001em;
}

.ie .stl_31 {
	letter-spacing: -0.0007px;
}
.stl_32 {
	font-size: 0.5em;
	font-family: "ETKDQK+FrutigerLTStd-Roman";
	color: #45AB43;
}
@font-face {
	font-family:"SDALGC+FrutigerLTStd-Light";
	src:url("84253d20-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_33 {
	font-size: 0.666667em;
	font-family: "SDALGC+FrutigerLTStd-Light", "Times New Roman";
	color: #221E1F;
}
.stl_34 {
	line-height: 1.161em;
}
