sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 40.08333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 27.08333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 27.08333em;
}
.stl_06 {
	height: 4.008333em;
}
.ie .stl_06 {
	height: 40.08333em;
}
@font-face {
	font-family:"EJOIDA+FrutigerLTStd-Black";
	src:url("e0036959-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.5em;
	font-family: "EJOIDA+FrutigerLTStd-Black";
	color: #44AA42;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	font-size: 1em;
	font-family: "EJOIDA+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_11 {
	font-size: 0.833333em;
	font-family: "EJOIDA+FrutigerLTStd-Black";
	color: #FFFFFF;
}
@font-face {
	font-family:"CNJCHQ+FrutigerLTStd-Roman";
	src:url("096b59d4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.666667em;
	font-family: "CNJCHQ+FrutigerLTStd-Roman";
	color: #221E1F;
}
.stl_13 {
	line-height: 1.185em;
}
.stl_14 {
	letter-spacing: 0.0001em;
}

.ie .stl_14 {
	letter-spacing: 0.0007px;
}
.stl_15 {
	font-size: 0.75em;
	font-family: "EJOIDA+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_16 {
	letter-spacing: 0.0114em;
}

.ie .stl_16 {
	letter-spacing: 0.1212px;
}
.stl_17 {
	letter-spacing: 0.0028em;
}

.ie .stl_17 {
	letter-spacing: 0.0303px;
}
.stl_18 {
	letter-spacing: 0.0045em;
}

.ie .stl_18 {
	letter-spacing: 0.0476px;
}
.stl_19 {
	letter-spacing: -0.0018em;
}

.ie .stl_19 {
	letter-spacing: -0.0216px;
}
@font-face {
	font-family:"QPKJBC+BundesbahnPiStd-1";
	src:url("0ce2d035-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.916667em;
	font-family: "QPKJBC+BundesbahnPiStd-1", "Times New Roman";
	color: #808184;
}
.stl_21 {
	line-height: 0.971em;
}
.stl_22 {
	letter-spacing: -0.0024em;
}

.ie .stl_22 {
	letter-spacing: -0.026px;
}
.stl_23 {
	letter-spacing: -0.0042em;
}

.ie .stl_23 {
	letter-spacing: -0.0508px;
}
.stl_24 {
	letter-spacing: -0.0067em;
}

.ie .stl_24 {
	letter-spacing: -0.0718px;
}
@font-face {
	font-family:"JVCPIQ+FrutigerLTStd-Bold";
	src:url("5cae4264-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_25 {
	font-size: 0.666667em;
	font-family: "JVCPIQ+FrutigerLTStd-Bold", "Times New Roman";
	color: #221E1F;
}
.stl_26 {
	letter-spacing: -0.153em;
}

.ie .stl_26 {
	letter-spacing: -1.632px;
}
@font-face {
	font-family:"AFDTRR+SymbolBold";
	src:url("45331b99-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 0.666667em;
	font-family: "AFDTRR+SymbolBold", "Times New Roman";
	color: #221E1F;
}
.stl_28 {
	line-height: 1.336em;
}
.stl_29 {
	letter-spacing: -0.0015em;
}

.ie .stl_29 {
	letter-spacing: -0.018px;
}
@font-face {
	font-family:"WWGJWV+FrutigerLTStd-Light";
	src:url("410447bb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_30 {
	font-size: 0.708333em;
	font-family: "WWGJWV+FrutigerLTStd-Light";
	color: #221E1F;
}
.stl_31 {
	line-height: 1.161em;
}
.stl_32 {
	font-size: 0.5em;
	font-family: "CNJCHQ+FrutigerLTStd-Roman";
	color: #45AB43;
}
.stl_33 {
	font-size: 0.666667em;
	font-family: "WWGJWV+FrutigerLTStd-Light";
	color: #221E1F;
}
.stl_34 {
	letter-spacing: -0.01em;
}

.ie .stl_34 {
	letter-spacing: -0.1071px;
}
@font-face {
	font-family:"MUEPOR+FrutigerLTStd-BoldCn";
	src:url("3a3d96c9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.75em;
	font-family: "MUEPOR+FrutigerLTStd-BoldCn";
	color: #45AB43;
}
.stl_36 {
	line-height: 1.19em;
}
.stl_37 {
	letter-spacing: -0.0003em;
}

.ie .stl_37 {
	letter-spacing: -0.0037px;
}
@font-face {
	font-family:"RKMHFL+FrutigerLTStd-Cn";
	src:url("c641cae9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_38 {
	font-size: 0.666667em;
	font-family: "RKMHFL+FrutigerLTStd-Cn";
	color: #221E1F;
}
.stl_39 {
	line-height: 1.179em;
}
.stl_40 {
	letter-spacing: -0.0011em;
}

.ie .stl_40 {
	letter-spacing: -0.0113px;
}
.stl_41 {
	font-size: 0.388667em;
	font-family: "RKMHFL+FrutigerLTStd-Cn";
	color: #221E1F;
}
.stl_42 {
	letter-spacing: -0.0007em;
}

.ie .stl_42 {
	letter-spacing: -0.0076px;
}
.stl_43 {
	font-size: 0.708333em;
	font-family: "JVCPIQ+FrutigerLTStd-Bold", "Times New Roman";
	color: #45AB43;
}
.stl_44 {
	letter-spacing: -0.0008em;
}

.ie .stl_44 {
	letter-spacing: -0.0091px;
}
@font-face {
	font-family:"OEVAJC+FrutigerLTStd-Italic";
	src:url("7e40aec8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_45 {
	font-size: 0.666667em;
	font-family: "OEVAJC+FrutigerLTStd-Italic";
	color: #221E1F;
}
.stl_46 {
	line-height: 1.18em;
}
.stl_47 {
	letter-spacing: 0.0104em;
}

.ie .stl_47 {
	letter-spacing: 0.1111px;
}
.stl_48 {
	letter-spacing: -0.0004em;
}

.ie .stl_48 {
	letter-spacing: -0.004px;
}
.stl_49 {
	letter-spacing: -0.0009em;
}

.ie .stl_49 {
	letter-spacing: -0.0102px;
}
@font-face {
	font-family:"REGUVB+??";
	src:url("1c816885-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_50 {
	font-size: 1em;
	font-family: "REGUVB+??", "Times New Roman";
	color: #408000;
}
.stl_51 {
	line-height: 1.107422em;
}
.stl_52 {
	letter-spacing: 0.0419em;
}

.ie .stl_52 {
	letter-spacing: 0.67px;
}
