sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 40.08333em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 27.08333em;
}

@supports(-ms-ime-align:auto) { .stl_02 {width: auto; overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 27.08333em;
}
.stl_06 {
	height: 4.008333em;
}
.ie .stl_06 {
	height: 40.08333em;
}
@font-face {
	font-family:"PEESDC+FrutigerLTStd-Black";
	src:url("49c0b5d8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.5em;
	font-family: "PEESDC+FrutigerLTStd-Black";
	color: #44AA42;
}
.stl_08 {
	line-height: 1.204em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	font-size: 1em;
	font-family: "PEESDC+FrutigerLTStd-Black";
	color: #221E1F;
}
@font-face {
	font-family:"PCGSOU+FrutigerLTStd-Roman";
	src:url("91054c19-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 0.666667em;
	font-family: "PCGSOU+FrutigerLTStd-Roman";
	color: #221E1F;
}
.stl_12 {
	line-height: 1.185em;
}
@font-face {
	font-family:"WFHPVM+FrutigerLTStd-Italic";
	src:url("fb607a29-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.666667em;
	font-family: "WFHPVM+FrutigerLTStd-Italic";
	color: #221E1F;
}
.stl_14 {
	line-height: 1.18em;
}
.stl_15 {
	font-size: 0.75em;
	font-family: "PEESDC+FrutigerLTStd-Black";
	color: #221E1F;
}
.stl_16 {
	letter-spacing: -0.0005em;
}

.ie .stl_16 {
	letter-spacing: -0.0053px;
}
.stl_17 {
	letter-spacing: -0.0018em;
}

.ie .stl_17 {
	letter-spacing: -0.0216px;
}
.stl_18 {
	letter-spacing: -0.0004em;
}

.ie .stl_18 {
	letter-spacing: -0.004px;
}
.stl_19 {
	letter-spacing: 0.0132em;
}

.ie .stl_19 {
	letter-spacing: 0.1404px;
}
.stl_20 {
	font-size: 0.388667em;
	font-family: "PCGSOU+FrutigerLTStd-Roman";
	color: #221E1F;
}
@font-face {
	font-family:"FCBWHW+FrutigerLTStd-Light";
	src:url("2205455d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.666667em;
	font-family: "FCBWHW+FrutigerLTStd-Light", "Times New Roman";
	color: #221E1F;
}
.stl_22 {
	line-height: 1.161em;
}
.stl_23 {
	font-size: 0.5em;
	font-family: "PCGSOU+FrutigerLTStd-Roman";
	color: #45AB43;
}
@font-face {
	font-family:"QJFDUW+??";
	src:url("38da73e4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_24 {
	font-size: 1em;
	font-family: "QJFDUW+??", "Times New Roman";
	color: #408000;
}
.stl_25 {
	line-height: 1.107422em;
}
.stl_26 {
	letter-spacing: 0.0419em;
}

.ie .stl_26 {
	letter-spacing: 0.67px;
}
.stl_27 {
	letter-spacing: -0.0042em;
}

.ie .stl_27 {
	letter-spacing: -0.0508px;
}
.stl_28 {
	font-size: 0.833333em;
	font-family: "PEESDC+FrutigerLTStd-Black";
	color: #FFFFFF;
}
@font-face {
	font-family:"MVSDCW+FrutigerLTStd-Bold";
	src:url("18c99c5a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 0.666667em;
	font-family: "MVSDCW+FrutigerLTStd-Bold";
	color: #221E1F;
}
.stl_30 {
	letter-spacing: -0.0009em;
}

.ie .stl_30 {
	letter-spacing: -0.0103px;
}
.stl_31 {
	font-size: 0.708333em;
	font-family: "WFHPVM+FrutigerLTStd-Italic";
	color: #44AA42;
}
.stl_32 {
	letter-spacing: -0.0007em;
}

.ie .stl_32 {
	letter-spacing: -0.0076px;
}
.stl_33 {
	letter-spacing: 0.005em;
}

.ie .stl_33 {
	letter-spacing: 0.0535px;
}
.stl_34 {
	letter-spacing: -0.0001em;
}

.ie .stl_34 {
	letter-spacing: -0.0007px;
}
@font-face {
	font-family:"PDALQT+Symbol";
	src:url("fee7bb48-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_35 {
	font-size: 0.666667em;
	font-family: "PDALQT+Symbol", "Times New Roman";
	color: #221E1F;
}
.stl_36 {
	line-height: 1.303em;
}
.stl_37 {
	font-size: 0.708333em;
	font-family: "MVSDCW+FrutigerLTStd-Bold";
	color: #44AA42;
}
.stl_38 {
	letter-spacing: -0.0012em;
}

.ie .stl_38 {
	letter-spacing: -0.0141px;
}
.stl_39 {
	letter-spacing: -0.0011em;
}

.ie .stl_39 {
	letter-spacing: -0.012px;
}
.stl_40 {
	letter-spacing: -0.0019em;
}

.ie .stl_40 {
	letter-spacing: -0.02px;
}
.stl_41 {
	letter-spacing: -0.0008em;
}

.ie .stl_41 {
	letter-spacing: -0.0098px;
}
.stl_42 {
	letter-spacing: -0.0003em;
}

.ie .stl_42 {
	letter-spacing: -0.0036px;
}
.stl_43 {
	letter-spacing: -0.0023em;
}

.ie .stl_43 {
	letter-spacing: -0.0249px;
}
